.bodyBox{
  overflow: hidden;
  margin-top: 50px;
  .zhzb{
    width:480px;
    height:270px;
    margin:12px;
    display: inline-block;
    overflow: hidden;
    position: relative;
    border:2px solid #3e4c67;
    background: rgba(44,61,71,0.4);
    .zhzbtop{
      width:440px;
      height:187px;
      margin-left: 20px;
      margin-top: 35px;
      overflow: hidden;
      background: url(../../img/comp/zhzbgb.png) no-repeat;
      background-size: 100% 93%;
      background-position:bottom center;
      .zhzbtopbox {
        width:145px;
        height:55px;
        margin-top: 4px;
        padding-left: 10px;
        display: inline-block;
        color: #ffffff;
        font-size: 14px;
        overflow: hidden;
        text-align: center;
        .zhzbtopboxg{
          color:#26f4ff;
          font-size: 22px;
        }
      }
    }
    .zhzbdown{
      width:440px;
      height:45px;
      margin-left: 20px;
      padding: 5px;
      color: #ffffff;
      text-align: center;
      font-size: 16px;
      overflow: hidden;
      .daynum{
        font-size: 20px;
        color:#1fe005;
      }
    }
  }
  .zhzbgl{
    width:1215px;
    height:270px;
    margin:12px;
    display: inline-block;
    overflow: hidden;
    position: relative;
    border:1px solid #3e4c67;
    background: rgba(44,61,71,0.4);
    .zhzbglmain{
      margin-top: 35px;
      .zhzbglbox{
        width: 195px;
        height:195px;
        display: inline-block;
        margin-left: 6px;
        margin-top: 28px;
        position: relative;
        .zhzbglboxnum{
          position:absolute;
          top:42%;
          left:37%;
          width:110px;
          text-align: center;
          height:40px;
          line-height:18px;
          font-size: 16px;
          z-index:11;
          margin-left:-30px;
          margin-top:-15px;
          display:inline-block;
          padding:0 5px;
          color: #ffffff;
          p{
            font-size: 26px;

          }
        }
      }
    }
  }
  .czrlzb{
    width:480px;
    height:280px;
    margin:12px;
    display: inline-block;
    overflow: hidden;
    position: relative;
    border:1px solid #3e4c67;
    background: rgba(44,61,71,0.4);
    .czrlzdmain{
      margin-top: 20px;
      .chartnum{
        position:absolute;
        top:55%;
        left:50%;
        width:60px;
        height:40px;
        line-height:18px;
        z-index:11;
        margin-left:-30px;
        margin-top:-15px;
        display:inline-block;
        padding:0 5px;
        color: #07a3ff;
        p{
          text-align:center;
          margin:0;

        }
      }
    }
  }
  .nfdlwcqk{
    width:595px;
    height:280px;
    margin:12px;
    display: inline-block;
    overflow: hidden;
    position: relative;
    border:1px solid #3e4c67;
    background: rgba(44,61,71,0.4);
    .nfdlwcqkmain{
      margin-top: 20px;
    }
  }
  .czydfdqk{
    width:595px;
    height:280px;
    margin:12px;
    display: inline-block;
    overflow: hidden;
    position: relative;
    border:1px solid #3e4c67;
    background: rgba(44,61,71,0.4);
    .czydfdqkmain{
      margin-top: 10px;
    }
  }
  .longbox{
    width:1720px;
    height:100px;
    margin:12px;
    padding-top: 10px;
    display: inline-block;
    overflow: hidden;
    position: relative;
    border:1px solid #3e4c67;
    background: rgba(44,61,71,0.5);
    .navitem{
      width:20%;
      height:80px;
      float:left;
      border-right:1px solid #111;
      .leftimg{
        width:40%;
        float:left;
        height:90px;
        text-align:right;
        img{margin:23px 18px 0 0;}

      }
      .righttext{
        width:60%;
        float:left;
        height:85px;
        line-height:85px;
        font-size:24px;
        color:#fff;
      }
      .righttext1{
        width:60%;
        float:left;
        font-size:16px;
        padding-top:15px;
        height:90px;
        color:#fff;
        h2{
          font-weight:normal;
          font-size:16px;
          margin:0px 0 10px 0;
          b{font-size:22px; margin-right:15px;
            color: #2ff4fb;}
        }
      }
    }
    .bore{
      border-right:none;
    }
  }
  .fgzyfx{
    width:622px;
    height:280px;
    margin:12px;
    display: inline-block;
    overflow: hidden;
    position: relative;
    border:1px solid #3e4c67;
    background: rgba(44,61,71,0.4);
    .fgzyfxmain{
      margin-top: 25px;
    }
  }
  .ssdlqkfx{
    width:500px;
    height:280px;
    margin:12px;
    display: inline-block;
    overflow: hidden;
    position: relative;
    border:1px solid #3e4c67;
    background: rgba(44,61,71,0.4);
    .ssdlqkfxmain{
      width:392px;
      height:182px;
      margin-top: 65px;
      margin-left: 50px;
      position: relative;
      overflow: hidden;
      background: url(../../img/comp/gzsbglbg.png) no-repeat;
      background-size: 100% 100%;
      .tsstyle1{
        margin-left: 77px;
        margin-top: 11px;
        color: #D06960;
        font-size: 20px;
        display: inline-block;
        position: absolute;
        overflow: hidden;
        .tsstyled1{
          font-size: 12px;
        }
      }
      .tsstyle2{
        margin-left: 139px;
        margin-top: 143px;
        color: #D06960;
        font-size: 20px;
        display: inline-block;
        position: absolute;
        overflow: hidden;
        .tsstyled2{
          font-size: 12px;
        }
      }
      .tsstyle3{
        margin-left: 250px;
        margin-top: 11px;
        color: #D06960;
        font-size: 20px;
        display: inline-block;
        position: absolute;
        overflow: hidden;
        .tsstyled3{
          font-size: 12px;
        }
      }
      .tsstyle4{
        margin-left: 317px;
        margin-top: 144px;
        color: #D06960;
        font-size: 20px;
        display: inline-block;
        position: absolute;
        overflow: hidden;
        .tsstyled4{
          font-size: 12px;
        }
      }
      .timestyle{
        margin-left: 30px;
        margin-top: 97px;
        color: #CCCCCC;
        font-size: 16px;
        display: inline-block;
        position: absolute;
        overflow: hidden;
        span{
          margin-right: 59px;
        }
      }
    }
  }
  .gzsbgl{
    width:550px;
    height:280px;
    margin:12px;
    display: inline-block;
    overflow: hidden;
    position: relative;
    border:1px solid #3e4c67;
    background: rgba(44,61,71,0.4);
    .gzsbglmain{
      margin-top: 10px;
    }
  }
}