.box{
    overflow:hidden;
    padding-bottom:10px;
    .monthbox{
    width: 98%;
    height: 80px;
    list-style: none;
    background-color: #21242b;
    padding:0;
    padding-left:10px;
    position:relative;
    background: linear-gradient(to bottom,#242a32 ,#1f2025);
    li{
     float:left;
     font-size:16px;
     font-family: '微软雅黑';
     color:white;
     height:35px;
     line-height:33px;
     text-align:center;
     width:100px;
     border-radius:17px;
     margin:25px 10px;
     font-weight:700;
     cursor:pointer;
      &:hover{
                background:#20FEFF;
     color:black;
    box-shadow:0px 0px 10px  #20FEFF;
            }
     }
     li:last-child{
     color: #20FEFF;
       position:absolute;
       top:-5px;
       right:412px;
       border:1px solid #20FEFF;
       width:110px;
       height:45px;
       line-height:45px;
       margin-bottom:25px;
       border-radius:45px;
       background:radial-gradient(#1c444a, #1c3f46);
       box-shadow:0px 0px 10px  #20FEFF;
     }
     li:nth-last-child(2){
     
     }
      li:last-child:hover{
      background:#156e74;
      }
      .red{
    background:#20FEFF;
    color:black;
  }
  .green{
    color:white;
  }
    }
  .bgc{
    position:absolute;
    height:40px;
    width:40px;
    top:6px;
    left:46px;
    z-index:5;
    img{
    height:40px;
    width:40px
  }
  }
  .bgccc{
    position:absolute;
    height:16px;
    width:16px;
    top:3px;
    left:57px;
    z-index:5;
    img{
    height:16px;
    width:16px
  }
  }
  .bgcccc{
    position:absolute;
    height:40px;
    width:40px;
    top:9px;
    left:55px;
    z-index:5;
    img{
    height:30px;
    width:40px
  }
  }
   .covers{
     position:relative;

   }

    .areabox{
      position:relative;
            width:98%;
            margin-left:2px;
            height:410px;
            margin-bottom: 20px;
            padding-top:20px;
            background-color:#282F37;

           }
       .shadow:hover{
        box-shadow:0 0 15px #fff;
      }
    .windbox{
       float: left;
       width: 48%;
       height: 390px;
       margin-left:12px;
        padding-top:20px;
         background-color:#282F37;

    }
     .bigbox{
       float:right;
    height:390px;
    width:48%;
    margin-right:50px;
    border:1px solid #282F37;
    position:relative;
    background-color: #282F37;
    margin-right:33px;
    .coverbox{
      margin-top:50px;

    }
    .tik{
      color:#fff;
      position:absolute;
      font-size:16px;
      top:25px;
      left:100px;
      font-weight:700;
    }
    .imgq{
      width:50px;
      height:30px;
      position:absolute;
      top:20px;
      left:32px;
      text-align:center;
      line-height:30px;
      img{
        height:16px;
        width:16px;
      }
    }
    .imgqa{
      width:50px;
      height:30px;
      position:absolute;
      top:25px;
      left:40px;
      text-align:center;
      line-height:30px;
      img{
        height:16px;
        width:16px;
      }
    }
  }

  .tiw{
  color:#fff;
      position:absolute;
        font-size:16px;
        top:4px;
        left:100px;
        font-weight:700;
        z-index:100;

  }
   .titleeee{
    color:#fff;
      position:absolute;
        font-size:16px;
        top:4px;
        left:100px;
        font-weight:700;
        z-index:100;
   }
  .windecbox{
    margin-top:50px;
    width:45%;
    height:300px;
    margin-bottom: 12px;

  }
  .buttons{
    width:271px;
    position:absolute;
    top:0px;
    right:0px;
  }
  .buttons{
    height:60px;
    line-height:60px;
    button{
      width:70px;
      height:30px;
      line-height:20px;
      text-align:center;
      font-size:16px;
      border-radius:15px;
      font-family:'微软雅黑';
      margin-left:12px;
      background-color:white;
      color: #20FEFF;
      border:1px solid #20FEFF;
      background:radial-gradient(#1c444a, #1c3f46);
    }
    button:hover{
      background:#20FEFF;
      color:black;
      box-shadow:0px 0px 10px  #20FEFF;
    }
  }    .fanbox{
        float: right;
        width: 49%;
        height: 400px;
        }
    .buttons{
    height:46px;
    width:35%;
    float:right;
    }
    .buttons{
    height:60px;
    line-height:60px;
      button{
      width:70px;
      height:30px;
      line-height:20px;
      text-align:center;
      font-size:16px;
      border-radius:15px;
      font-family:'微软雅黑';
      margin-left:12px;
      background-color:white;
      }
    }
    .morebox{
     height:450px;
     width:60%;
     border:1px solid #282F37;
     position:absolute;
     background-color: pink;
     top:50%;
     left:50%;
     transform:translate(-50%,-50%);
     display:none;
     .imgq{
     position:absolute;
     top:9px;
     left:7px;
     img{
     height:16px;
     width:16px;
     }
     .tit{
       position:absolute;
       top:10%;
       left:50px;
       color:white;
       font-weight:700;
       width:300px;
       font-size:16px;
     }
     }
     .close{
     position:absolute;
     top:10px;
     right:10px;
     height:30px;
     width:30px;
     border:1px solid pink;
     line-height:24px;
     font-size:16px;
     text-align:center;
     cursor:pointer;
     }
     .windcebox{
        margin-top:50px;
     }

    }

   
}