.box {
  overflow: hidden;
  padding: 10px;

  position: relative;
  padding-left: 10px;
  //返回框
  .paddingtop {
    display:flex;
    align-items:center;
    justify-content:flex-end;
    width: 98%;
    height: 50px;
    padding: 0;
    padding-left: 0px;
    position: relative;
    border-bottom: 1px solid #31F3FB;
    //返回按钮
    .back {
      float: right;
      color: #fff;
      border: 1px solid #20FEFF;
      width: 100px;
      height: 40px;
      line-height: 40px;
      position: relative;
      border-radius: 45px;
      cursor: pointer;
      text-align: center;
    }
  }
//遮罩层
  .boxcover {
    position: fixed;
    height: 100%;
    width: 93%;
    z-index: 1200;
    background: black;
    display: none;
    opacity: 0.6;
  }

  .areabox {
    position: relative;
    width: 98%;
    margin-left: 2px;
    height: 410px;
    margin-bottom: 15px;
    margin-top:15px;
 
    overflow: hidden;
    .bgc {
    position: absolute;
    height: 16px;
    width: 16px;
    top: 8px;
    left: 71px;
    z-index: 5;
    img {
      height: 16px;
      width: 16px
    }
  }
  }
  .shadow:hover {
    box-shadow: 0 0 15px #fff;
  }

}