.box{
    overflow:hidden;
    padding:10px;

  
    position:relative;
    padding-left:10px;
    .paddingtop{

   
    height:37px;
    width:98%;
    }
     .back{
      float:right;
      
       color: #20FEFF;
       color:#fff;
       border:1px solid #20FEFF;
       width:100px;
       height:40px;
       line-height:40px;
       position:relative;
       top:-8px;
       right:0;
       border-radius:45px;

      cursor:pointer;
       text-align:center;
     }
    .boxcover{
    position:fixed;
    height:100%;
    width:93%;
    z-index:1200;
    background:black;
    display:none;
    opacity:0.6;
    }
    .more:hover{
     box-shadow:0 0 15px #fff;
    }
    .more{
    background:#21242a;
    position:absolute;
    z-index:1600;
     transform:translate(-50%,-50%);
   
    top:50%;
    left:50%;
    overflow:hidden;
    box-sizing:border-box;
    display:none;
    .moretitle{
    width:100%;
    height:60px;
    background:#21242a;
    position:relative;
    z-index:2000;
    height:60px;
    div{
    display:inline-block;
    font-size:16px;
    float:right;
    line-height:60px;
    cursor:pointer;
    margin-right:50px;
       color:#fff;
    }
    p{
    position:absolute;
    top:18px;
    left:7%;
    font-size:16px;
    color:#fff;
    }
    img{
    position:absolute;
    top:22px;
    left:5%;
    height:16px;
    width:16px;
    }
    }
    }
    .monthbox{
    
    align-items:center;
    width: 98%;
    height: 50px;
    list-style: none;
    padding:0;
    padding-left:0px;
    position:relative;
        border-bottom: 1px solid #31F3FB;
    li{
     height: 40px;
            width: 100px;
            border: 1px solid #31F3FB;
            line-height: 38px;
            float: left;
            font-family: "微软雅黑";
            text-align: center;
            margin-right: 10px;
            border-radius:5px;
            cursor:pointer;
              &:hover{
                color: #31F3FB;
                box-shadow:0 0 10px #fff;
            }
     }
     .back{
     float:left;
       align-items:center;
       color: #20FEFF;
       border:1px solid #20FEFF;
       width:100px;
       height:40px;
       line-height:38px;
       position:relative;
       top:0px;
       border-radius:45px;
      
       box-shadow:0px 0px 10px  #20FEFF;
       text-align:center;
     }
     li:nth-last-child(2){
     
     }
      
    }
  .bgc{
    position:absolute;
    height:16px;
    width:16px;
    top:3px;
    left:75px;
    z-index:5;
    img{
    height:16px;
    width:16px
  }
  }
   .covers{
     position:relative;
     margin-top:0px;

   }
  
    .areabox{
    position: relative;
    width: 98%;
    margin-left: 2px;
    height: 432px;
    margin-bottom: 15px;
    
    background: rgba(44, 61, 71, 0.4);
           }
           .titww{
    color:#fff;
      position:absolute;
        font-size:16px;
        top:4px;
        left:121px;
        
        z-index:100;
    }
   .shadow:hover{
    box-shadow:0 0 15px #fff;
    }
    .windbox{
       float: left;
      
       margin-left:10px;
       height: 400px;
    }
     .bigbox{
     overflow:hidden;
    
    height:420px;
    width:98%;
    margin-right:30px;
    border:1px solid #282F37;
    position:relative;
    background:rgba(44, 61, 71,0.4);
    .coverbox{
      margin-top:50px;
      overflow:hidden;

    }
    .tik{
      color:#fff;
      position:absolute;
      font-size:16px;
      top:5px;
      left:121px;
    
      line-height:auto
    }

    .imgq{
      width:50px;
      height:30px;
      position:absolute;
      top:-1px;
      left:61px;
      text-align:center;
      line-height:30px;
      img{
        height:16px;
        width:16px;
      }
    }
  }
  .bigboxx{
  margin-right:15px;
  }
  .windecbox{
    margin-top:50px;
    width:40%;
    height:360px;
    margin-bottom:0px;

  }
  .buttons{
    width:271px;
    position:absolute;
    top:0px;
    right:0px;
  }
  .buttons{
    height:60px;
    line-height:60px;
    button{
      width:70px;
      height:30px;
      line-height:20px;
      text-align:center;
      font-size:16px;
      border-radius:15px;
      font-family:'微软雅黑';
      margin-left:12px;
      background-color:transparent;
      color: white;
      border:1px solid #20FEFF;
      
    }
    button:hover{
      color: #31F3FB;
          box-shadow:0px 0px 10px  #20FEFF;
    }
  }    .fanbox{
        float: right;
        width: 49%;
        height: 400px;
        }
    .buttons{
    height:46px;
    width:32%;
    float:right;
    }
    .buttons{
    height:60px;
    line-height:60px;
      button{
      width:70px;
      height:30px;
      line-height:20px;
      text-align:center;
      font-size:16px;
      border-radius:15px;
      font-family:'微软雅黑';
      margin-left:12px;
      
      }
    }
     .red{
   
    color: #31F3FB;
  }
  .green{
    color:white;
  }
}