.slistbodyBox{
  float: left;

    .slistBox{
      font-size: 20px;
      color:#fff;
      float: left;
      margin-left: 12px;
      margin-bottom: 10px;
      width: 260px;
      height: 112px;
      background: #292F34;
      background-image:url(../../img/comp/smatrix.png);
      background-size: 100% 100%;
      background-repeat: no-repeat;
      cursor: pointer;
      .slistitemL{
        float: left;
        border-left: 2px solid #00E438;
      }
      .slistitemR{
        float: left;
        margin-left: 90px;
        .slistitemT{
          display: block;
          margin: 12px 0;
          .slistitemTT{
            font-size: 18px;
            line-height: 16px;
          }
          .slistitemTB{
            font-size: 14px;
            line-height: 14px;
          }
        }
        .slistitemB{
          padding-top: 10px;
          font-size: 14px;
           p{
              margin:0;
            }
          .slistitemBLL{
              color:#00F7FE;
              line-height: 25px;
          }
          .slistitemBLR{
              font-size: 12px;
              padding:2px 0 0 2px;
          }
          span{
            float: left;
          }
          .slistitemBL{
            width: 80px;
            p{
              margin:0;
            }
          }
        }
      }
      div{
        float: left;
      }
    }
    .fault{
      background-image: url(../../img/comp/faultbg.png),url(../../img/comp/smatrix.png);
      background-size: 100% 100%;
      background-repeat: no-repeat; //故障
      .slistitemT{
        color: red;
      }
    }
    .online{
      border-left: 2px solid #1fe005; //运行
    }
    .offline{
      border: 2px solid #666; // 待机
    }
    .discomfor{
      // border: 2px solid #f1a820; //离线
    }
    
    // .default{
    //   border: 2px solid #c7b88c; //检修
    // }   
}
