.whole{
  width:100%;
  height: 1080px;
  background: url("./img/comp/bg.jpg");
  background-size: 100% 100%;
  .loginBox{
    float: left;
    margin-top: 17%;
    margin-left: 1300px;
    width:500px;
    height: 500px;
    overflow: hidden;
    font-size: 20px;
    padding: 0.1%;
    color: #fff;
    .int{
      display: block;
      width: 370px;
      height: 40px;
      border:1px solid rgb(14,101,111);
      background:rgba(20,50,86,.3);
      vertical-align: top;
      &:focus{
        outline:1px solid gold;
      }
    }
    .ints{
      width: 240px;
      height: 40px;
      border:1px solid rgb(14,101,111);
      background:rgba(20,50,86,.3);
      vertical-align: top;
      &:focus{
        outline:1px solid gold;
      }
    }
    .pages{
      letter-spacing:7px;
      border:1px solid rgb(14,101,111);
      color: #348299;
      user-select:none;
      margin-top: -40px;
      margin-left: 260px;
      text-align: center;
      font-size: 25px;
      display: block;
      width: 110px;
      height: 40px;
      background: url("./img/icon/yzm.jpg");

    }
    .submit{
      color: #fff;
      background: rgb(23,111,126);
      text-align: center;
      width: 370px;
      height:40px;
      margin-top: -20%;
      border-radius:5px;
      cursor:pointer;
      border:none;
    }
  }
}