.box{
    overflow:hidden;
    padding:10px;
    padding-right:40px;
    .monthbox{
    width: 100%;
    height: 80px;
    list-style: none;
    padding:0;
    padding-left:10px;
    position:relative;
    background: linear-gradient(to bottom,#242a32 ,#1f2025);
    li{
     float:left;
     font-size:16px;
     font-family: '微软雅黑';
     color:white;
     height:35px;
     line-height:33px;
     text-align:center;
     width:100px;
     border-radius:17px;
     margin:25px 10px;
     font-weight:700;
     cursor:pointer;
      &:hover{
                background:#20FEFF;
     color:black;
    box-shadow:0px 0px 10px  #20FEFF;
            }
     }
     li:last-child{
     color: #20FEFF;
       position:absolute;
       top:-5px;
       right:412px;
       border:1px solid #20FEFF;
       width:110px;
       height:45px;
       line-height:45px;
       margin-bottom:25px;
       border-radius:45px;
       background:radial-gradient(#1c444a, #1c3f46);
       box-shadow:0px 0px 10px  #20FEFF;
     }
     li:nth-last-child(2){
     
     }
      li:last-child:hover{
      background:#156e74;
      }
    }
    .shadow:hover{
    box-shadow:0 0 15px #fff;
    }
    .areabox{
            overflow:hidden;
            width:100%;
            margin:0 auto;
            height:405px;
            margin-bottom: 20px;
            margin-top:32px;
            position:relative;
            .bgcc{
            position:absolute;
              top:4px;
              left:61px;
              z-index: 10;
              img{
                height:16px;
                width:16px;
              }
            }
           }
    .windbox{
       width: 100%;
       margin:0 auto;
       height: 405px;
       overflow:hidden;
       position:relative;
       margin-top:50px;

       .bgcc{
       position:absolute;
              top:4px;
              left:61px;
              z-index: 10;
              img{
              height:16px;
                width:16px;
              }
       }
    }
    .buttons{
    height:46px;
    width:49%;
    float:right;
    }
    .buttons{
    height:60px;
    line-height:60px;
      button{
      width:80px;
      height:35px;
      line-height:20px;
      text-align:center;
      font-size:16px;
      border-radius:15px;
      font-family:'微软雅黑';
      margin-left:12px;
      background-color:white;
      }
    }
}