.actionBox {
  width: 100%;
  text-align: right;
  margin-bottom: 30px;
  overflow: hidden;
  img {
    width: 30px;
    margin-right: 50px;
  }
}

.tableBox {
  font-size: 16px;
  overflow: hidden;
  .tableHeaderBox {
    overflow: hidden;
    background: #464c58;
    .tableHeaderItem {
      float: left;
      height:40px;
      line-height:40px;
      overflow: hidden;
      color:#fff;
      text-align: center;
    }
  }
  .tableContentBox {
    .tableContentLine {
      color:#fff;
      background: #30343f;
      overflow: hidden;
      &:hover{
        background:rgba(183,195,224,.5);
      }
      .tableContentItem {
        float: left;
        overflow: hidden;
        text-align: center;
        height: 35px;
        line-height:35px;
        border: none;
        position: relative;
        .succ{
          background: url("../../img/comp/succ.png");
          height: 18px;
          width: 14px;
          left: 50%;
          position: absolute;
          top:50%;
          margin-left: -7px;
          margin-top: -9px;
        }
        .defa{
          background: url("../../img/comp/defa.png");
          height: 18px;
          width: 14px;
          left: 50%;
          position: absolute;
          top:50%;
          margin-left: -7px;
          margin-top: -9px;
        }
        .cutD{
          background: url("../../img/comp/cut.png");
          height: 18px;
          width: 14px;
          left: 50%;
          position: absolute;
          top:50%;
          margin-left: -7px;
          margin-top: -9px;
        }
      }
      .tableLineNum {
        width: 45px;
        padding: 10px 0 10px;
        text-align: center;
        background-color: #E4E5E6;
        float: left;
      }
    }
    .tableContentLine1 {
      color:#fff;
      background: #272b34;
      overflow: hidden;
      &:hover{
        background:rgba(183,195,224,.5);
      }
      .tableContentItem {
        float: left;
        overflow: hidden;
        text-align: center;
        height: 35px;
        line-height:35px;
        border: none;
        position: relative;
        .succ{
          background: url("../../img/comp/succ.png");
          height: 18px;
          width: 14px;
          left: 50%;
          position: absolute;
          top:50%;
          margin-left: -7px;
          margin-top: -9px;
        }
        .defa{
          background: url("../../img/comp/defa.png");
          height: 18px;
          width: 14px;
          left: 50%;
          position: absolute;
          top:50%;
          margin-left: -7px;
          margin-top: -9px;
        }
        .cutD{
          background: url("../../img/comp/cut.png");
          height: 18px;
          width: 14px;
          left: 50%;
          position: absolute;
          top:50%;
          margin-left: -7px;
          margin-top: -9px;
        }
      }
      .tableLineNum {
        width: 45px;
        padding: 10px 0 10px;
        text-align: center;
        background-color: #E4E5E6;
        float: left;
      }
    }
  }
}