.bodyBox {
  .topbox{
   width:98%;

   margin-top:15px;
   overflow:hidden;
   padding:5px 0;
   .Generating{
   	width: 270px;
    height: 450px;
    float:left;
    border:1px solid #ccc;
    background: rgba(44, 61, 71, 0.4);
    margin-right:15px;
    h6{
    font-weight:normal;
     padding:20px 0 0 20px;
     margin:0;
     color:#fff;
     font-size:20px;
     img{
     margin-right:10px;
     }
     }
     p{
      padding:30px;
      margin:0;
      color:#fff;
      margin-bottom:20px;
     font-size:18px;
     b{
     margin-left:20px;
     }
     }
     .gbox{
     	width:185px;
     	height:100px;
     	line-height:100px;
     	border:1px solid #ccc;
     	margin:auto;
     	margin-bottom:30px;
     	color:#fff;
     	font-size:20px;
     	 img{
     		margin-right:10px;
     		}
     }
    
   }
   .Plancurve{
   	width: 540px;
    height: 450px;
    float:left;
    border:1px solid #ccc;
    margin-right:15px;
    background: rgba(44, 61, 71, 0.4);
     h6{
     font-weight:normal;
     padding:20px 0 0 20px;
     margin:0 0 30px 0;
     color:#fff;
     font-size:20px;
     img{
     margin-right:10px;
     margin-top:-5px;
     }
     }
   }
   .Electric{
   width: 540px;
    height: 450px;
     float:left;
    border:1px solid #ccc;
    margin-right:15px;
    background: rgba(44, 61, 71, 0.4);
     h6{
     font-weight:normal;
     padding:20px 0 0 20px;
     margin:0 0 20px 0;
     color:#fff;
     font-size:20px;
     img{
     margin-right:10px;
     margin-top:-5px;
     }
     }
     .elediv{
        width:100%;
        overflow:hidden;
        a{
          float:right;
          color: #fff;
          line-height:20px;
          margin:-3px 30px 0 10px;
          font-size:16px;
        }
        span{
          width:25px;
          height:15px;
          float:right;
          background:#33c4cc;
        }
     }
     .elebox{
        width:80%;
        height:120px;
        border-radius:10px;
        border:1px solid #ccc;
        margin:20px auto;
        overflow:hidden;
        span{
          width:25%;
          height:120px;
          float:left;
          color:#fff;
          text-align:center;
          img{margin-top:20px;}
        }
        .speedbox{
          width:75%;
          padding:10px 15px 0 0px;
          height:120px;
          float:left;
          .spedtit{
            overflow:hidden;
            color:#fff;
            a{float:left;line-height:20px;color:#fff; }
            b{float:right; line-height:20px; font-weight:normal;}
          }
          .planspeed{width:100%;height:22px; background:#5693d0;margin-bottom:10px;}
          .mor{width:60%; background:#33c4cc;}
          .mor1{width:40%; background:#33c4cc;}
        }
     }

   }
   .Completion{
   	width: 335px;
    height: 450px;
     float:left;
    border:1px solid #ccc;
    background: rgba(44, 61, 71, 0.4);
      h6{
     font-weight:normal;
     padding:20px 0 0 20px;
     margin:0 0 20px 0;
     color:#fff;
     font-size:20px;
     img{
     margin-right:10px;
     margin-top:-5px;
     }
     }
   }
   .navitem{
   	width:20%;
   	height:100px;
   	float:left;
	border-right:1px solid #ccc;
	background: rgba(44, 61, 71, 0.4);
   }
   .bore{
   border-right:none;
   }
   .Loss{
   		width:50%;
   		height:500px;
   		float:left;
   		border-right:1px solid #ccc;
   }
    .Fault{
   		width:50%;
   		height:500px;
   		float:left;
   		
   }
  }
  .bortop{
  	   border:1px solid #ccc;
  	   border-top:none;
  	   background: rgba(44, 61, 71, 0.4);
  }
}