.bodyBox{
  .box_shadow:hover{
    box-shadow:0 0 20px #fff;
  }
  overflow: hidden;
  padding-top: 50px;
  padding-left: 50px;
  .zhzb{
    width:480px;
    height:215px;
    margin:8px;
    display: inline-block;
    overflow: hidden;
    position: relative;
    border:2px solid #3e4c67;
    background: rgba(44,61,71,0.4);
    .zhzbtop{
      width:440px;
      height:136px;
      margin-left: 20px;
      overflow: hidden;
      background: url(../../img/comp/zhzbgb2.png) no-repeat;
      background-size: 100% 93%;
      background-position:bottom center;
      .zhzbtopbox {
        width:145px;
        height:40px;
        margin-top: 15px;
        display: inline-block;
        color: #ffffff;
        font-size: 14px;
        overflow: hidden;
        text-align: center;
        .zhzbtopboxg{
          color:#26f4ff;
          font-size: 18px;
        }
      }
    }
    .zhzbdown{
      width:440px;
      height:36px;
      margin-left: 20px;
      padding: 3px;
      margin-top:35px;
      color: #ffffff;
      text-align: center;
      font-size: 20px;
      overflow: hidden;
      .anquan{margin:-5px 10px 0 0;}
      .daynum{
        font-size: 20px;
        color:#1fe005;
      }
    }
  }
  .zhzbgl{
    width:1252px;
    height:215px;
    margin:8px;
    display: inline-block;
    overflow: hidden;
    position: relative;
    border:1px solid #3e4c67;
    background: rgba(44,61,71,0.4);
    .zhzbglmain{
      margin-top: 18px;
      .zhzbglbox{
        width: 195px;
        height:190px;
        display: inline-block;
        margin-left: 10px;
        img{position:absolute;bottom:30px;right:10px;z-index:3;}
        margin-top: 23px;
        position: relative;
        p{margin-bottom:0;text-align:center; color:#fff;}
        .zhzbglboxnum{
          position:absolute;
          top:42%;
          left:37%;
          width:110px;
          text-align: center;
          height:40px;
          line-height:18px;
          font-size: 16px;
          z-index:11;
          margin-left:-30px;
          margin-top:-15px;
          display:inline-block;
          padding:0 5px;
          color: #ffffff;
          p{
            font-size: 22px;
            margin-top:15px;

          }
        }
      }
    }
  }
 
  .nfdlwcqk{
    width:618px;
    height:275px;
    margin:8px;
    display: inline-block;
    overflow: hidden;
    position: relative;
    border:1px solid #3e4c67;
    background: rgba(44,61,71,0.4);
    .nfdlwcqkmain{
      margin-top: 20px;
    }
  }
  .columbox{
    width:1763px;
    padding:5px 5px 5px 8px;
    overflow:hidden;
    .leftcolum{
      float:right;
      width:865px;
      height:300px;
      position:relative;
      padding-top:30px;
      background: rgba(44,61,71,0.4);
    }
    .rightcolum{
      float:left;
      width:865px;
      height:300px;
      position:relative;
      padding-top:30px;
      background: rgba(44,61,71,0.4);
    }
  }
 
  .longbox{
    width:1748px;
    height:75px;
    margin:8px;
    display: inline-block;
    overflow: hidden;
    position: relative;
    border:1px solid #3e4c67;
    background: rgba(44,61,71,0.5);
    .navitem{
      width:16.6%;
      height:60px;
      margin-top: 5px;
      float:left;
      border-right:1px solid #111;
      .leftimg{
        width:40%;
        float:left;
        height:70px;
        line-height:70px;
        font-size:22px;
        color:#fff;
        text-align:right;
        img{margin:0px 18px 0 0;}

      }
      .righttext{
        width:60%;
        float:left;
        height:70px;
        line-height:70px;
        font-size:22px;
        color:#fff;
      }
      .righttext1{
        width:60%;
        float:left;
        font-size:16px;
        padding-top:10px;
        height:90px;
        color:#fff;
        h2{
          font-weight:normal;
          font-size:16px;
          margin:0px 0 10px 0;
          b{font-size:22px; margin-right:15px;
            color: #2ff4fb;}
        }
      }
    }
    .bore{
      border-right:none;
    }
    .bore1{
      border-right:none;
    }
  }
  .fgzyfx{
    width:622px;
    height:265px;
    margin:8px;
    display: inline-block;
    overflow: hidden;
    position: relative;
    border:1px solid #3e4c67;
    background: rgba(44,61,71,0.4);
    .fgzyfxmain{
      margin-top: 30px;
    }
  }
  .ssdlqkfx{
    width:500px;
    height:265px;
    margin:8px;
    padding-top:40px;
    display: inline-block;
    overflow: hidden;
    position: relative;
    border:1px solid #3e4c67;
    background: rgba(44,61,71,0.4);
   
  }
  .gzsbgl{
    width:595px;
    height:265px;
    margin:8px;
    padding-top:30px;
    display: inline-block;
    overflow: hidden;
    position: relative;
    border:1px solid #3e4c67;
    background: rgba(44,61,71,0.4);
   
  }
}