.bodynav{
    width:100%;
    height:60px;
    overflow:hidden;
    img{
      cursor:pointer;
      float:left;
      margin:15px 30px 0 0;
    }
    .bodybtn{
      width:100px;
      height:30px;
      line-height:30px;
      font-size:20px;
      margin:15px 15px 0 0;
      float:left;
      cursor:pointer;
      border-left:3px solid #fff;
      color: #fff;
      text-align:center;
    }
    .bodybtn1{
      width:100px;
      height:30px;
      line-height:30px;
      font-size:20px;
      margin:15px 15px 0 0;
      float:left;
      cursor:pointer;
      border-left:3px solid #2ff4fb;
      color: #2ff4fb;
      text-align:center;
    }
  }