.gbaBox{
    width: 1780px;
    padding: 0 30px 0 10px;
    .content{
        position: relative;
        width: 100%;
        .wind{
            position: relative;
            height: 400px;
            width: 100%;
            .img{
                z-index: 5;
                position: absolute;
                left: 10px;
                top: 10px;
            }
        }
        .fan{
            position: relative;
            top: 10px;
            height: 400px;
            width: 100%;
            .img{
                z-index: 5;
                position: absolute;
                left: 10px;
                top: 10px;
            }
        }
    }
    .boxShadow:hover{
       box-shadow:0 0 15px #fff;
   }
}