.gbaBox{
        width: 1780px;
        padding: 0 30px 0 10px;
        .content{
            position: relative;
            width: 100%;
            .area{
                position: relative;
                height: 380px;
                overflow: hidden;
                .img{
                    position: absolute;
                    z-index: 5;
                    top: 5px;
                    left: 50px;
                }
            }
            .wind{
                position: relative;
                overflow: hidden;
                top: 15px;
                float: left;
                height: 380px;
                margin-right: 1%;
                width: 49.5%;
                .img{
                    position: absolute;
                    z-index: 5;
                    top: 5px;
                    left: 50px;
                }
            }
            .fan{
                position: relative;
                overflow: hidden;
                top: 15px;
                float: left;
                height: 380px;
                width: 49.5%;
                .img{
                    position: absolute;
                    z-index: 5;
                    top: 5px;
                    left: 50px;
                }
            }
        }
        .boxShadow:hover{
           box-shadow:0 0 15px #fff;
       } 
}

