.bodyBox{
    width: 100%;
    padding-right: 30px;
    .content{
        width: 100%;
        background-color: #282f37;
        .areaLose{
            height: 450px;
            width: 100%;
            .areaSection{
                float: left;
                width: 25%;
                height: 450px;
            }
        }
        .border{
            border: 2px solid whitesmoke;
            margin-left: 3%;
            width: 94%;
        }
        .lose{
            margin-top: 20px;
            height: 300px;
            width: 100%;
        }
    }
}
