.bodyBox{
    width: 100%;
    padding: 0 30px 0 10px;
    .content{
        width: 100%;
        .areaLose{
            height: 400px;
            width: 100%;
            .areaSection{
                float: left;
                width: 24%;
                margin-right: 1%;
                height: 400px;
            }
        }
        .lose{
            margin-top: 15px;
            height: 380px;
            width: 100%;
        }
    }
    .boxShadow:hover{
       box-shadow:0 0 15px #fff;
   } 
}
