.contentbox{
      width:100%;
      margin-top:25px;
      overflow:hidden; 
      .conleft{
        float:left;
        width:400px;
        position:relative;
        .spanleft{
            width:0; 
            height:0; 
            border-top:15px solid transparent;
            border-bottom:15px solid transparent; 
            border-right:15px solid #2ff4fb; 
            position:absolute;top:5px; right:10px; cursor:pointer;
          }
          .spanright{
            width:0; 
            height:0; 
            border-top:15px solid transparent;
            border-bottom:15px solid transparent; 
            border-left:15px solid #2ff4fb; 
            position:absolute;top:5px; right:10px; cursor:pointer;
          }
        
       
      }
       .conright{
        float:left;
        width:1388px;
        height:854px;
        overflow-x:hidden;
        overflow-y:auto;
      }


      .animat{
        margin-left:-377px;
        animation:myfirst 1s;
        -moz-animation:myfirst 1s; /* Firefox */
        -webkit-animation:myfirst 1s; /* Safari and Chrome */
        -o-animation:myfirst 1s; /* Opera */
      }
      .animat1{
      margin-left:0px;
        animation:myfirst1 1s;
        -moz-animation:myfirst1 1s; /* Firefox */
        -webkit-animation:myfirst1 1s; /* Safari and Chrome */
        -o-animation:myfirst1 1s; /* Opera */
      }
      .animat2{
        width:1765px;
        animation:myfirst2 1s;
        -moz-animation:myfirst2 1s; /* Firefox */
        -webkit-animation:myfirst2 1s; /* Safari and Chrome */
        -o-animation:myfirst2 1s; /* Opera */
      }
      .animat3{
        width:1388px;
        animation:myfirst3 1s;
        -moz-animation:myfirst3 1s; /* Firefox */
        -webkit-animation:myfirst3 1s; /* Safari and Chrome */
        -o-animation:myfirst3 1s; /* Opera */
      }
      
  }



  @keyframes myfirst
{
from {margin-left:0;}
to {margin-left:-377px;}
}

@-moz-keyframes myfirst /* Firefox */
{
from {margin-left:0%;}
to {margin-left:-377px;}
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
from {margin-left:0%;}
to {margin-left:-377px;}
}

@-o-keyframes myfirst /* Opera */
{
from {margin-left:0%;}
to {margin-left:-377px;}
}


@keyframes myfirst1
{
from {margin-left:-377px;}
to {margin-left:0;}
}

@-moz-keyframes myfirst1 /* Firefox */
{
from {margin-left:-377px;}
to {margin-left:0;}
}

@-webkit-keyframes myfirst1 /* Safari and Chrome */
{
from {margin-left:-377px;}
to {margin-left:0;}
}

@-o-keyframes myfirst1 /* Opera */
{
from {margin-left:-377px;}
to {margin-left:0;}
}





@keyframes myfirst2
{
from {width:1388px;}
to {width:1765px;}
}

@-moz-keyframes myfirst2 /* Firefox */
{
from {width:1388px;}
to {width:1765px;}
}

@-webkit-keyframes myfirst2 /* Safari and Chrome */
{
from {width:1388px;}
to {width:1765px;}
}

@-o-keyframes myfirst2 /* Opera */
{
from {width:1388px;}
to {width:1765px;}
}



@keyframes myfirst3
{
from {width:1765px;}
to {width:1388px;}
}

@-moz-keyframes myfirst3 /* Firefox */
{
from {width:1765px;}
to {width:1388px;}
}

@-webkit-keyframes myfirst3 /* Safari and Chrome */
{
from {width:1765px;}
to {width:1388px;}
}

@-o-keyframes myfirst3 /* Opera */
{
from {width:1765px;}
to {width:1388px;}
}