.contentbox{
      width:100%;
      margin-top:25px;
      overflow:hidden; 
      .conleft{
        float:left;
        width:400px;
        position:relative;
        .spanleft{
            width:38px; 
            height:24px; 
            position:absolute;
            top:0px; 
            right:19px; 
            cursor:pointer;
            background:url('../../../img/icon/direct_icon.png') 100% 100%;
            z-index:20;
            
          }
          .spanright{
             width:38px; 
            height:24px; 
            position:absolute;top:0px; right:-2px; 
            cursor:pointer;
            background:url('../../../img/icon/direct_icon1.png') 100% 100%;
            z-index:20;
           
          }
        
       
      }
       .conright{
        float:left;
        width:1388px;
        height:854px;
        overflow-x:hidden;
        overflow-y:auto;
      }


      .animat{
        margin-left:-377px;
        animation:myfirst 1s;
        -moz-animation:myfirst 1s; /* Firefox */
        -webkit-animation:myfirst 1s; /* Safari and Chrome */
        -o-animation:myfirst 1s; /* Opera */
      }
      .animat1{
      margin-left:0px;
        animation:myfirst1 1s;
        -moz-animation:myfirst1 1s; /* Firefox */
        -webkit-animation:myfirst1 1s; /* Safari and Chrome */
        -o-animation:myfirst1 1s; /* Opera */
      }
      .animat2{
        width:1765px;
        animation:myfirst2 1s;
        -moz-animation:myfirst2 1s; /* Firefox */
        -webkit-animation:myfirst2 1s; /* Safari and Chrome */
        -o-animation:myfirst2 1s; /* Opera */
      }
      .animat3{
        width:1388px;
        animation:myfirst3 1s;
        -moz-animation:myfirst3 1s; /* Firefox */
        -webkit-animation:myfirst3 1s; /* Safari and Chrome */
        -o-animation:myfirst3 1s; /* Opera */
      }
      
  }



  @keyframes myfirst
{
from {margin-left:0;}
to {margin-left:-377px;}
}

@-moz-keyframes myfirst /* Firefox */
{
from {margin-left:0%;}
to {margin-left:-377px;}
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
from {margin-left:0%;}
to {margin-left:-377px;}
}

@-o-keyframes myfirst /* Opera */
{
from {margin-left:0%;}
to {margin-left:-377px;}
}


@keyframes myfirst1
{
from {margin-left:-377px;}
to {margin-left:0;}
}

@-moz-keyframes myfirst1 /* Firefox */
{
from {margin-left:-377px;}
to {margin-left:0;}
}

@-webkit-keyframes myfirst1 /* Safari and Chrome */
{
from {margin-left:-377px;}
to {margin-left:0;}
}

@-o-keyframes myfirst1 /* Opera */
{
from {margin-left:-377px;}
to {margin-left:0;}
}





@keyframes myfirst2
{
from {width:1388px;}
to {width:1765px;}
}

@-moz-keyframes myfirst2 /* Firefox */
{
from {width:1388px;}
to {width:1765px;}
}

@-webkit-keyframes myfirst2 /* Safari and Chrome */
{
from {width:1388px;}
to {width:1765px;}
}

@-o-keyframes myfirst2 /* Opera */
{
from {width:1388px;}
to {width:1765px;}
}



@keyframes myfirst3
{
from {width:1765px;}
to {width:1388px;}
}

@-moz-keyframes myfirst3 /* Firefox */
{
from {width:1765px;}
to {width:1388px;}
}

@-webkit-keyframes myfirst3 /* Safari and Chrome */
{
from {width:1765px;}
to {width:1388px;}
}

@-o-keyframes myfirst3 /* Opera */
{
from {width:1765px;}
to {width:1388px;}
}


.conright::-webkit-scrollbar {
        width:12px;
        height:12px;
        border:1px solid #fff;
    }
.conright::-webkit-scrollbar-button    {
        background-color:#272b34;
        display:none;
    }
.conright::-webkit-scrollbar-track     {
        background:#131619;

    }
.conright::-webkit-scrollbar-thumb{
        background:#464c58;
        border-radius:10px;
    }
.conright::-webkit-scrollbar-corner {
        background:#131619;
    }
.conright::-webkit-scrollbar-resizer  {
        background:#f00;
    }