.bodyBox {
  display:inline-table;
  width: 1800px;
  overflow-x: hidden;
  border-top: 1px solid #3BA9AE;
  border-left: 1px solid #3BA9AE;
  min-height: 1200px;
  background: url("../img/icon/bg1.png");
  background-size:100% 100%;
  position:relative;
  padding-left: 30px;
  .clearbox{
  	clear:both
  }
  .fiexd{
    width:200px;
    height:50px;
    position:absolute;
    top:8px;
    right:30px;
    z-index:999;
    img{
    margin-right:10px;
    cursor:pointer;
    }
  }
}
.bodyBox1 {
  display:inline-table;
  width: 1922px;
  overflow-x: hidden;
  border-top: 1px solid #3BA9AE;
  border-left: 1px solid #3BA9AE;
  min-height: 1200px;
  position:relative;
  background: url("../img/icon/bg1.png");
  padding-left: 30px;
  padding-top:45px;
  .clearbox{
    clear:both
  }
  .fiexd{
    width:200px;
    height:50px;
    position:absolute;
    top:8px;
    right:40px;
    z-index:999;
    img{
    margin-right:10px;
    cursor:pointer;
    }
  }
}