.listbodyBox {
  float:right;
  width:1400px;
  display:inline-block;
  
  background-color: #D6E3EB;
  .listheaderBox{
    width:100%;
    height:auto;
    margin: 10px auto;
    background-color:#D6E3EB;
    position:relative;
    button{
       border-radius:6px;
    }
    .listbtn{
      width:100px;
      background-color:#E7E6EC;
      color:#69747B;
      font-size:20px;
      font-weight: bold;  
      position:absolute;
      top:38%;left:20px;
      box-shadow:1px 1px 3px #292929
    }
    .listbtnitem{
      float:left;
    }
    .listopt{
      margin: 10px 100px 0 150px;
      padding:5px 10px;
      background-color:#AABAC6;
      width:1200px;
      min-height:130px;
      button{
        width:30px;
        height:30px;
        text-align:center;
        padding:0 2px;
        margin: 2px;
        
      }
      .listoptbtn_1{
        box-shadow:1px 1px 3px #C4710F;
        background-color:#C4710F;/*橙黄*/
      }
      .listoptbtn_2{
        box-shadow:1px 1px 3px #87CB2D;
        background-color:#87CB2D;/*绿色*/
      }
      .listoptbtn_3{
        box-shadow:1px 1px 3px #DB2721;
        background-color:#DB2721;/*红色*/
      }
      .listoptbtn_4{
        box-shadow:1px 1px 3px #3FAFF6;
        background-color:#3FAFF6;/*蓝色*/
      }
      .listoptbtn_5{
        box-shadow:1px 1px 3px #5D5252;
        background-color:#5D5252;/*灰色*/
      }
    }
  }
}