.navHeader {
  width: 100%;
  font-family: "Microsoft YaHei UI";
  height: 70px;
  background-color: #2A3241;
  font-size: 20px;
  .navIcon {
    width: 380px;
    height: 70px;
    line-height: 70px;
    float: left;
    color: #ffffff;
    img {
      height: 70px;
    }
  }
  .methodBox {
    text-align: right;
    height:70px;
    .itemBox {
      display: inline-block;
      overflow: hidden;
      height: 70px;
      line-height: 70px;
      text-align: center;
      margin: 0 10px 0;
      font-size:20px;
      cursor: pointer;
      img {
      margin-right:10px;
        height: 30px;
      }
      span {
        color: #eee;
      }
      
    }
    .itemBoxAct {
      display: inline-block;
      overflow: hidden;
      height: 70px;
      font-size:20px;
      line-height: 70px;
      text-align: center;
      padding:0 5px;
      margin: 0 10px 0;

      border-bottom:5px solid #26f4ff;
      cursor: pointer;
      img {
        height: 30px;
        margin-right:10px;
      }
      span {
        color: #3BA9AE;
      }
    }
    .nobor{
      border:none;
    }
  }
}
