.bgbox{
  background: url("../img/icon/bg1.png");
  background-size:100% 100%;
  overflow:hidden;
}

.bgboxblue{
  background: url("../img/icon/bg2.png");
  background-size:100% 100%;
  overflow:hidden;
}

.bgboxwhite{
  background: url("../img/icon/bg3.png");
  background-size:100% 100%;
  overflow:hidden;
}