.bgbox{
  background: url("../img/icon/bg1.png");
  background-size:100% 100%;
  overflow:hidden;
}

.bgbox-blue{
  background: url("../img/icon/bg2.png");
  background-size:100% 100%;
  overflow:hidden;
}

.bgbox-white{
  background: url("../img/icon/bg3.png");
  background-size:100% 100%;
  overflow:hidden;
}