.navTree {
  width: 100px;
  min-height: 1200px;
  background-color: #252932;
  float: left;
  position:relative;
  .treeItemAct {
    padding-top: 15px;
    background-color: #141519;
    height: 100px;
    line-height: 30px;
    font-size:18px;
    color: #3BAAAF;
    text-align: center;
    cursor: pointer;
    position: relative;
    border-left: 5px solid #2f828a;
  }
  .treeItem {
    padding-top: 15px;
    background-color: #252932;
    height: 100px;
    line-height: 30px;
    font-size:18px;
    color: #eee;
    text-align: center;
    cursor: pointer;
    position:relative;
  }
  .trunleft{
   width:50px;
   height:50px;
   line-height:50px;
   text-align:center;
   color:#fff;
   font-size:28px;
   position:absolute;
   left:20px;
   bottom:50px;
   cursor:pointer;
  }
}
