.box{
    width: 1780px;
    overflow:hidden;
    color: #E6E7E8;
    font-size: 16px;
    padding:10px 40px 10px 10px;
    .left{
        width: 75%;
        float: left;
        .firstfloor{
            background-color: rgba(44, 61, 71, 0.4);
            height: 250px;
            width: 99%;
            border:1px solid #3e4c67;
            .section{
                position: relative;
                float: left;
                width: 25%;
                height: 100%;
                .alink{
                    position: absolute;
                    left: 80%;
                    top: 45%;
                    z-index: 9;
                    .space{
                        cursor: pointer;
                        display: inline-block;
                        height: 25px;
                        width: 25px;
                        background: url(../../../../img/comp/space.gif); 
                        &:hover{
                            background: url(../../../../img/comp/spaceA.gif);
                        }
                    }
                    .time{
                        cursor: pointer;
                        display: inline-block;
                        height: 25px;
                        width: 25px;
                        background: url(../../../../img/comp/time1.png);
                        &:hover{
                            background: url(../../../../img/comp/timeA.gif);
                        }
                    }
                }
                .sectionBox{
                    position: relative;
                    width: 44%;
                    margin-left: 28%;
                    .numBox{
                        position:absolute;
                        top:48%;
                        left:34%;
                        width:110px;
                        text-align: center;
                        height:40px;
                        line-height:18px;
                        font-size: 16px;
                        z-index:11;
                        margin-left:-30px;
                        margin-top:-15px;
                        display:inline-block;
                        padding:0 5px;
                        color: #ffffff;
                        p{
                            font-size: 26px;
                        }
                    }
                }
                .border{
                    position: absolute;
                    left: 0;
                    top: 10%;
                    height: 80%;
                    border-right: 2px solid #191c26;
                }
                .text1{
                    margin-top: 20px;
                    line-height: 40px;
                    height: 40px;
                    width: 100%;
                    text-align: center;
                }
            } 
        }.secondfloor{
            position: relative;
            top: 15px;
            height: 650px;
            width: 99%;
            .electric{
                position: absolute;
                height: 98.5%;
                width: 24.5%;
                border:1px solid #3e4c67;
                background-color: rgba(44, 61, 71, 0.4);
                .electricHeader{
                    position: relative;
                    height: 30px;
                    line-height: 30px;
                    width: 100%;
                    background:  #464C58;
                    padding-left: 15px;
                    a{
                        position: relative;
                        top: 4px;
                        display: inline-block;
                        height: 20px;
                        width: 20px;
                        background: url(../../../../img/comp/nianEle.png);
                        background-size: 20px 20px; 
                    }
                }.electricFirst{
                    position: relative;
                    z-index: 3;
                    height: 201px;
                    padding-left: 20px;
                    padding-top: 50px;
                    a{
                        display: inline-block;
                        height: 20px;
                        width: 20px;
                        position: relative;
                        top: 4px;
                        background: url(../../../../img/comp/nianC.png);
                        background-size: 20px 20px;
                    }
                    .electricTotal{
                        margin: 10px 0;
                        color: #f23333; 
                    }.electricPercent{
                        width: 90%;
                        height: 25px;
                        background-color: #39565e;
                        border-radius: 12px;
                        overflow: hidden;
                        .green{
                            color: black;
                            padding-left: 10px;
                            line-height: 25px;
                            height: 25px;
                            border-radius: 12px;
                            background-color: #00ff33;
                        }
                        .yellow{
                            color: black;
                            padding-left: 10px;
                            line-height: 25px;
                            height: 25px;
                            border-radius: 12px;
                            background-color: #fbd500;
                        }
                        .red{
                            color: black;
                            padding-left: 10px;
                            line-height: 25px;
                            height: 25px;
                            border-radius: 12px;
                            background-color: #ff0000
;
                        }
                        .redS{
                            color: black;
                            padding-left: 10px;
                            line-height: 25px;
                            height: 25px;
                            border-radius: 12px;
                            background-color: #d06960;
                        }   
                    }
                }.electricSecond{
                    position: relative;
                    z-index: 3;
                    height: 202px;
                    padding-left: 20px;
                    padding-top: 50px;
                    a{
                        display: inline-block;
                        height: 20px;
                        width: 20px;
                        position: relative;
                        top: 4px;
                        background: url(../../../../img/comp/yueC.png);
                        background-size: 20px 20px;
                    }
                    .electricTotal{
                        margin: 10px 0;
                        color: #ffff41; 
                    }
                    .electricPercent{
                        width: 90%;
                        height: 25px;
                        background-color: #39565e;
                        border-radius: 12px;
                        overflow: hidden;
                        .green{
                            color: black;
                            padding-left: 10px;
                            line-height: 25px;
                            height: 25px;
                            border-radius: 12px;
                            background-color:#00ff33;
                        }
                        .yellow{
                            color: black;
                            padding-left: 10px;
                            line-height: 25px;
                            height: 25px;
                            border-radius: 12px;
                            background-color: #fbd500;
                        }
                        .red{
                            color: black;
                            padding-left: 10px;
                            line-height: 25px;
                            height: 25px;
                            border-radius: 12px;
                            background-color: #ff0000;
;
                        }
                        .redS{
                            color: black;
                            padding-left: 10px;
                            line-height: 25px;
                            height: 25px;
                            border-radius: 12px;
                            background-color: #d06960;
                        }
                    }
                    
                }.electricThird{
                    position: relative;
                    z-index: 3;
                    height: 202px;
                    padding-left: 20px;
                    padding-top: 50px;
                    a{
                        display: inline-block;
                        height: 20px;
                        width: 20px;
                        position: relative;
                        top: 4px;
                        background: url(../../../../img/comp/riC.png);
                        background-size: 20px 20px;
                    }
                    .electricTotal{
                        margin: 10px 0;
                        color: #00ff33;
                    }.electricPercent{
                        width: 90%;
                        height: 25px;
                        background-color: #39565e;
                        border-radius: 12px;
                        overflow: hidden;
                        .green{
                            color: black;
                            padding-left: 10px;
                            line-height: 25px;
                            height: 25px;
                            border-radius: 12px;
                            background-color: #00ff33;
                        }
                        .yellow{
                            color: black;
                            padding-left: 10px;
                            line-height: 25px;
                            height: 25px;
                            border-radius: 12px;
                            background-color: #fbd500;
                        }
                        .red{
                            color: black;
                            padding-left: 10px;
                            line-height: 25px;
                            height: 25px;
                            border-radius: 12px;
                            background-color: #ff0000;

                        }
                        .redS{
                            color: black;
                            padding-left: 10px;
                            line-height: 25px;
                            height: 25px;
                            border-radius: 12px;
                            background-color: #d06960;
                        }
                    }
                }
            }.yearelectric{
                position: absolute;
                left: 25.5%;
                width: 74.5%;
                border:1px solid #3e4c67;
                .header{
                    height: 30px;
                    line-height: 25px;
                    padding-left: 20px;
                    background-color: #464C58;
                    position: relative;
                   .logo{
                        float: left; 
                        a{
                        display: inline-block;
                        height: 20px;
                        width: 20px;
                        position: relative;
                        top: 4px;
                        background: url(../../../../img/comp/nianC.png);
                        background-size: 20px 20px;
                    }
                    }
                    .linkBox{
                        float: left;
                        margin-left: 75%;
                        position: relative;
                        .links{
                            float: left;
                            margin-left: 20px;
                            position: relative;
                            top: 2px;
                            .space{
                                cursor: pointer; 
                                display: inline-block;
                                height: 25px;
                                width: 25px;
                                background: url(../../../../img/comp/space.gif);
                                &:hover{
                                    background: url(../../../../img/comp/spaceA.gif);
                                }
                            }
                            .time{
                                cursor: pointer;
                                display: inline-block;
                                height: 25px;
                                width: 25px;
                                background: url(../../../../img/comp/time1.png);
                                &:hover{
                                    background: url(../../../../img/comp/timeA.gif);
                                }
                            }
                        }
                    } 
                }
            }.yearprofit{
                position: absolute;
                left: 25.5%;
                top: 327px;
                width: 74.5%;
                border:1px solid #3e4c67;
                .header{
                    height: 30px;
                    line-height: 25px;
                    padding-left: 20px;
                    background-color: #464C58;
                    position: relative;
                   .logo{
                        float: left; 
                        a{
                        display: inline-block;
                        height: 20px;
                        width: 20px;
                        position: relative;
                        top: 4px;
                        background: url(../../../../img/comp/profit.png);
                        background-size: 20px 20px;
                    }
                    }
                    .linkBox{
                        float: left;
                        margin-left: 77%;
                        position: relative;
                        .links{
                            float: left;
                            margin-left: 20px;
                            position: relative;
                            top: 2px;
                            .space{
                                cursor: pointer; 
                                display: inline-block;
                                height: 25px;
                                width: 25px;
                                background: url(../../../../img/comp/space.gif);
                                &:hover{
                                    background: url(../../../../img/comp/spaceA.gif);
                                }
                            }
                            .time{
                                cursor: pointer;
                                display: inline-block;
                                height: 25px;
                                width: 25px;
                                background: url(../../../../img/comp/time1.png);
                                &:hover{
                                    background: url(../../../../img/comp/timeA.gif);
                                }
                            }
                        }
                    } 
                }
            }
        }
    }.right{
        width: 25%;
        height: 905px;
        background-color: rgba(44, 61, 71, 0.4);
        float: left;
        border:1px solid #3e4c67;
        h3{
            position: relative;
            margin: 0;
            font-size: 16px;
            height: 30px;
            line-height: 30px;
            font-weight: 900;
            padding-left: 20px;
            background-color: #464C58;
            a{
                position: relative;
                top: 4px;
                display: inline-block;
                height: 20px;
                width: 20px;
                background: url(../../../../img/comp/rank.png) no-repeat;
                background-size: 20px 20px;
            }
        }
        table{
            width: 100%;
            user-select:none;
            overflow: hidden;
            tr{
                position: relative;
                display: inline-block;
                width: 100%;
                margin-top: 20px;
                background-color: rgba(41, 61, 71, 0.2);
                &:not(:first-child):hover{
                    border: 1px solid #31F3FB;
                }
                th{
                    display: inline-block;
                    text-align: center;
                    width: 25%;
                    line-height: 30px;
                    &:first-child{
                        width: 20%;
                    }
                }
                .clickPba1{
                    color: #20FEFF;
                    .arrow{
                        display: inline-block;
                        position: relative;
                        top: 3px;
                        height: 20px;
                        width: 20px;
                        background: url(../../../../img/comp/sortB.gif) no-repeat;
                        background-size: 20px 20px;  
                    }
                    .bottom{
                        display: inline-block;
                        position: relative;
                        top: 3px;
                        height: 20px;
                        width: 20px;
                        background: url(../../../../img/comp/sortT.gif) no-repeat;
                        background-size: 20px 20px;  
                    }
                }
                .clickPba1:hover{
                    cursor: pointer;
                    border: 2px solid #20FEFF;
                }
                .clickPba4{
                    .arrow{
                        display: inline-block;
                        position: relative;
                        top: 3px;
                        height: 20px;
                        width: 20px;
                        background: url(../../../../img/comp/sortAB.gif) no-repeat;
                        background-size: 20px 20px;  
                    }
                    .bottom{
                        display: inline-block;
                        position: relative;
                        top: 3px;
                        height: 20px;
                        width: 20px;
                        background: url(../../../../img/comp/sortAB.gif) no-repeat;
                        background-size: 20px 20px;  
                    }
                }
                .clickPba4:hover{
                    cursor: pointer;
                    border: 2px solid #20FEFF;
                }
                .clickTime1{
                    .arrow{
                    display: inline-block;
                    position: relative;
                    top: 3px;
                    height: 20px;
                    width: 20px;
                    background: url(../../../../img/comp/sortAB.gif) no-repeat;
                    background-size: 20px 20px;  
                    }
                    .bottom{
                        display: inline-block;
                        position: relative;
                        top: 3px;
                        height: 20px;
                        width: 20px;
                        background: url(../../../../img/comp/sortAB.gif) no-repeat;
                        background-size: 20px 20px;  
                    }
                }
                .clickTime1:hover{
                    cursor: pointer;
                    border: 2px solid #20FEFF;
                }
                .clickTime4{
                    color: #20FEFF;
                    .arrow{
                    display: inline-block;
                    position: relative;
                    top: 3px;
                    height: 20px;
                    width: 20px;
                    background: url(../../../../img/comp/sortT.gif) no-repeat;
                    background-size: 20px 20px;  
                    }
                    .bottom{
                        display: inline-block;
                        position: relative;
                        top: 3px;
                        height: 20px;
                        width: 20px;
                        background: url(../../../../img/comp/sortB.gif) no-repeat;
                        background-size: 20px 20px;  
                    }
                }
                .clickTime4:hover{
                    cursor: pointer;
                    border: 2px solid #20FEFF;
                }
            } 
        }
        
    }
   .boxShadow:hover{
       box-shadow:0 0 15px #fff;
   }  
}
