.box{
    overflow:hidden;
    color: white;
    font-size: 16px;
    .monthbox{
        width: 100%;
        height: 80px;
        list-style: none;
        background-color: #21242b;
        padding-top: 20px;
        li{
            height: 40px;
            line-height: 30px;
            padding: 5px 10px;
            float: left;
            color: white;
            font-family: "微软雅黑";
            font-weight: 900;
            text-align: center;
            font-size: 20px;
            margin-right: 20px;
            border-radius:20px;
            cursor: pointer;
            &:hover{
                background-color: #282f37;
            }
        }
        
    }
    .left{
        display: inline-block;
        width: 75%;
        float: left;
        .firstfloor{
            position: relative;
            height: 100px;
            width: 100%;
            .section{
                position: relative;
                display: inline-block;
                width: 32%;
                height: 100%;
                background-color: #282f37;
                margin-right: 1%;
                padding-top: 10px;
                .sectionbar{
                    
                    text-align: center;
                    margin-top: 10px;
                    width: 100%;
                    height: 30px;
                }.border{
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    height: 0;
                    width: 0;
                    border-top:5px solid transparent;
                    border-left:5px solid transparent;
                    border-bottom:5px solid #00ffff;
                    border-right: 5px solid #00ffff;
                }.sectiontwo{
                    .big{
                        overflow: hidden;
                        width: 80%;
                        height:30px;
                        margin-left: 10%;
                        background-color: #a2a05c;
                        border-radius:15px;
                        .small{
                            display: inline-block;
                            height:30px;
                            line-height:30px;
                            color:#333;
                            padding-left: 10px;
                            border-radius:15px;
                            background: #e2ac00;
                            text-align:left;
                        }
                    }
                    
                }.sectionthree{
                    .should{
                        overflow: hidden;
                        width: 80%;
                        height:30px;
                        margin-left: 10%;
                        background-color: #6d9b83;
                        border-radius:15px;
                        .actrul{
                            display: inline-block;
                            height:30px;
                            line-height:30px;
                            color:#333;
                            padding-left: 10px;
                            border-radius:15px;
                            background: #009a46;
                            text-align:left;
                        }
                    }
                    
                }.sectionfour{
                    .count{
                        overflow: hidden;
                        width: 80%;
                        height:30px;
                        margin-left: 10%;
                        background-color: #d1b9ab;
                        border-radius:15px;
                        .usable{
                            display: inline-block;
                            height:30px;
                            line-height:30px;
                            color:#333;
                            padding-left: 10px;
                            border-radius:15px;
                            background: #ff6600;
                            text-align:left;
                        }
                    }
                    
                }
            }
        }.secondfloor{
            position: relative;
            top: 10px;
            height: 800px;
            width: 99%;
            .electric{
                padding-left: 2%;
                padding-top: 1%;
                position: absolute;
                height: 100%;
                width: 33%;
                background-color: #282f37;
                .electricHeader{
                    height: 30px;
                    width: 100%;
                    line-height: 30px;
                }.electricFirst{
                    position: absolute;
                    z-index: 3;
                    margin: 40px 0;
                    height: 200px;
                    width: 80%;
                    background-color: #39454e;
                    padding-left: 30px;
                    padding-top: 50px;
                    .electricNum{
                        display: inline-block;
                        float: right;
                        height: 100%;
                        width: 75%;
                        .border{
                            position: absolute;
                            bottom: 0;
                            right: 0;
                            height: 0;
                            width: 0;
                            border-top:5px solid transparent;
                            border-left:5px solid transparent;
                            border-bottom:5px solid #00ffff;
                            border-right: 5px solid #00ffff;
                        }.electricTotal{
                            margin: 10px 0;
                           color:#f23333; 
                        }.electricPercent{
                            width: 95%;
                            height: 30px;
                            background-color: #39565e;
                            border-radius: 15px;
                            overflow: hidden;
                            div{
                                color: black;
                                padding-left: 10px;
                                line-height: 30px;
                                height: 30px;
                                border-radius: 15px;
                                background-color: #0f3;
                            }
                        }
                    }
                }.electricFirstBorder{
                    position: absolute;
                    top: 100px;
                    left: 70px;
                    height: 200px;
                    width: 77%;
                    border: 1px solid #00ff33;
                }.electricSecond{
                    position: absolute;
                    top: 280px;
                    z-index: 3;
                    margin: 40px 0;
                    height: 200px;
                    width: 80%;
                    background-color: #39454e;
                    padding-left: 30px;
                    padding-top: 50px;
                    .electricNum{
                        display: inline-block;
                        float: right;
                        height: 100%;
                        width: 75%;
                        .border{
                            position: absolute;
                            bottom: 0;
                            right: 0;
                            height: 0;
                            width: 0;
                            border-top:5px solid transparent;
                            border-left:5px solid transparent;
                            border-bottom:5px solid #00ffff;
                            border-right: 5px solid #00ffff;
                        }.electricTotal{
                            margin: 10px 0;
                            color: #ffff41; 
                        }.electricPercent{
                            width: 95%;
                            height: 30px;
                            background-color: #39565e;
                            border-radius: 15px;
                            overflow: hidden;
                            div{
                                color: black;
                                padding-left: 10px;
                                line-height: 30px;
                                height: 30px;
                                border-radius: 15px;
                                background-color: #ffff33;
                            }
                        }
                    }
                }.electricSecondBorder{
                    position: absolute;
                    top: 340px;
                    left: 70px;
                    height: 200px;
                    width: 77%;
                    border: 1px solid #00ff33;
                }.electricThird{
                    position: absolute;
                    top: 520px;
                    z-index: 3;
                    margin: 40px 0;
                    height: 200px;
                    width: 80%;
                    background-color: #39454e;
                    padding-left: 30px;
                    padding-top: 50px;
                    .electricNum{
                        display: inline-block;
                        float: right;
                        height: 100%;
                        width: 75%;
                        .border{
                            position: absolute;
                            bottom: 0;
                            right: 0;
                            height: 0;
                            width: 0;
                            border-top:5px solid transparent;
                            border-left:5px solid transparent;
                            border-bottom:5px solid #00ffff;
                            border-right: 5px solid #00ffff;
                        }.electricTotal{
                            margin: 10px 0;
                            color: #00ff33;
                        }.electricPercent{
                            width: 95%;
                            height: 30px;
                            background-color: #39565e;
                            border-radius: 15px;
                            overflow: hidden;
                            div{
                                color: black;
                                padding-left: 10px;
                                line-height: 30px;
                                height: 30px;
                                border-radius: 15px;
                                background-color: #f33;
                            }
                        }
                    }
                }.electricThirdBorder{
                    position: absolute;
                    top: 580px;
                    left: 70px;
                    height: 200px;
                    width: 77%;
                    border: 1px solid #00ff33;
                }
            }.yearelectric{
                position: absolute;
                left: 34%;
                height: 49%;
                width: 66%;
                background-color: #282f37;
            }.yearprofit{
                position: absolute;
                left: 34%;
                top: 50%;
                height: 49%;
                width: 66%;
                background-color: #282f37;
            }
        }
    }.right{
        position: relative;
        width: 24%;
        height: 800px;
        background-color: #282f37;
        float: right;
        h3{
            padding-left: 30px;
        }
        table{
            width: 100%;
            tr{
                display: inline-block;
                height: 40px;
                width: 100%;
                margin-top: 20px;
                background-color: #2c333b;
                th{
                    display: inline-block;
                    text-align: center;
                    width: 25%;
                    height: 40px;
                    line-height: 40px;
                }.click{
                   color: #20FEFF; 
                }.click:hover{
                    cursor: pointer;
                    background-color: #39454e;
                }
            } 
        }
        
    }
    
}