.box{
    overflow:hidden;
    color: white;
    font-size: 16px;
    padding: 0 40px 10px 10px;
    height: 930px;
    .monthbox{
        width: 100%;
        height: 60px;
        list-style: none;
        background-color: #21242b;
        padding-top: 10px;
        .bg{
            height: 40px;
            line-height: 30px;
            padding: 5px 10px;
            float: left;
            color: white;
            font-family: "微软雅黑";
            font-weight: 900;
            text-align: center;
            margin-right: 20px;
            border-radius:20px;
            cursor: pointer;
            &:hover{
                color: #000000;
                background-color: #26f4ff;
            }
        }
        .bg1{
            height: 40px;
            line-height: 30px;
            padding: 5px 10px;
            float: left;
            font-family: "微软雅黑";
            font-weight: 900;
            text-align: center;
            margin-right: 20px;
            border-radius:20px;
            cursor: pointer;
            color: #000000;
            background-color: #26f4ff;
        }
    }
    .left{
        width: 72%;
        float: left;
        .firstfloor{
            position: relative;
            height: 200px;
            width: 100%;
            .sectionSmall{
                position: relative;
                width: 32%;
                height: 100%;
                background-color: #282B34;
                float: left;
                padding-top: 10px ;
                .sectionbar{
                    float: left;
                    text-align: center;
                    width: 40%;
                    height: 100%;
                    padding-top: 50px;
                    cursor: pointer;
                }
                .sectionfour{
                    height: 100%;
                    width: 60%;
                    float: left; 
                    position: relative;
                    .numBox{
                        position:absolute;
                        top:43%;
                        left:41%;
                        width:110px;
                        text-align: center;
                        height:40px;
                        line-height:18px;
                        font-size: 16px;
                        z-index:11;
                        margin-left:-30px;
                        margin-top:-15px;
                        display:inline-block;
                        padding:0 5px;
                        color: #ffffff;
                        p{
                            font-size: 26px;
                        }
                    }
                }
            }
            .section{
                float: left;
                position: relative;
                width: 33%;
                height: 100%;
                background-color: #282B34;
                margin-right: 1%;
                padding-top: 10px;
                .sectionbar{
                    text-align: center;
                    width: 40%;
                    height: 100%;
                    padding-top: 50px;
                    float: left;
                }.sectiontwo{
                    height: 100%;
                    width: 60%;
                    float: left;
                    position: relative;
                    .numBox{
                        position:absolute;
                        top:43%;
                        left:41%;
                        width:110px;
                        text-align: center;
                        height:40px;
                        line-height:18px;
                        font-size: 16px;
                        z-index:11;
                        margin-left:-30px;
                        margin-top:-15px;
                        display:inline-block;
                        padding:0 5px;
                        color: #ffffff;
                        p{
                            font-size: 26px;
                        }
                    }
                }.sectionthree{
                    height: 100%;
                    width: 60%;
                    float: left;
                    position: relative;
                    .numBox{
                        position:absolute;
                        top:43%;
                        left:41%;
                        width:110px;
                        text-align: center;
                        height:40px;
                        line-height:18px;
                        font-size: 16px;
                        z-index:11;
                        margin-left:-30px;
                        margin-top:-15px;
                        display:inline-block;
                        padding:0 5px;
                        color: #ffffff;
                        p{
                            font-size: 26px;
                        }
                    }
                }
            }
        }.secondfloor{
            position: relative;
            top: 10px;
            height: 640px;
            width: 100%;
            .electric{
                position: absolute;
                height: 100%;
                width: 33%;
                background-color: #282B34;
                .electricHeader{
                    height: 35px;
                    width: 100%;
                    background:  #464C58;
                    line-height: 30px;
                }.electricFirst{
                    z-index: 3;
                    height: 201px;
                    padding-left: 20px;
                    padding-top: 40px;
                    .electricTotal{
                        margin: 10px 0;
                        color:#f23333; 
                    }.electricPercent{
                        width: 90%;
                        height: 25px;
                        background-color: #33BAC0;
                        border-radius: 12px;
                        overflow: hidden;
                        div{
                            color: black;
                            padding-left: 10px;
                            line-height: 25px;
                            height: 25px;
                            border-radius: 12px;
                            background-color: #E9C75C;
                            }
                        }
                }.electricSecond{
                    z-index: 3;
                    height: 202px;
                    padding-left: 20px;
                    padding-top: 40px;
                    .electricTotal{
                        margin: 10px 0;
                        color: #ffff41; 
                    }
                    .electricPercent{
                        width: 90%;
                        height: 25px;
                        background-color: #39565e;
                        border-radius: 12px;
                        overflow: hidden;
                        div{
                            color: black;
                            padding-left: 10px;
                            line-height: 25px;
                            height: 25px;
                            border-radius: 12px;
                            background-color: #33BAC0;
                        }
                    }
                    
                }.electricThird{
                    z-index: 3;
                    height:202px;
                    padding-left: 20px;
                    padding-top: 40px;
                    .electricTotal{
                        margin: 10px 0;
                        color: #00ff33;
                    }.electricPercent{
                        width: 90%;
                        height: 25px;
                        background-color: #39565e;
                        border-radius: 12px;
                        overflow: hidden;
                        div{
                            color:   black;
                            padding-left: 10px;
                            line-height: 25px;
                            height: 25px;
                            border-radius: 12px;
                            background-color: #D06960;
                        }
                    }
                }
            }.yearelectric{
                .header{
                    height: 35px;
                    background-color: #464C58;
                   .logo{
                        margin-left: 20px;
                        cursor: pointer;
                        float: left; 
                    }
                    .links{
                        cursor: pointer; 
                        float: left;
                        margin-left: 20px;
                    } 
                }
                position: absolute;
                left: 34%;
                width: 66%;
                background-color: #282B34;
            }.yearprofit{
                .logo{
                    height: 35px;
                    background-color: #464C58;
                }
                position: absolute;
                left: 34%;
                top: 325px;
                width: 66%;
                background-color: #282B34;
            }
        }
    }.right{
        position: relative;
        width: 27%;
        height: 850px;
        background-color: #282B34;
        float: right;
        h3{
            font-size: 16px;
            font-weight: 900;
            padding-left: 30px;
        }
        table{
            font-size: 16px;
            width: 100%;
            tr{
                display: inline-block;
                height: 45px;
                width: 100%;
                margin-top: 20px;
                background-color: #262A32;
                th{
                    display: inline-block;
                    text-align: center;
                    width: 25%;
                    height: 45px;
                    line-height: 45px;
                    &:first-child{
                        width: 20%;
                    }
                }.click{
                   color: #20FEFF; 
                }.click:hover{
                    cursor: pointer;
                    background-color: #39454e;
                }
            } 
        }
        
    }
    .boxShadow:hover{
       box-shadow:0 0 15px #fff;}
}