.box_shadow:hover{
       box-shadow:0 0 15px #fff;
      }


      .states{
        position:relative;
        width:100%;
        height:143px;
        padding-top:35px;
        margin-right:15px;
        border:1px solid #3e4c67;
        background: rgba(44,61,71,0.4);
        .wind{
          width:50%;
          float:left;
      
          .gfzb{
            width:100%;
            height:25px;
            padding-left:20px;
            line-height:25px;
            font-size:16px;
            font-weight:bold;
            color:#fff;
            display:block;
          }
          .num{
            width:100%;
            height:25px;
            padding-left:20px;
            line-height:25px;
            font-size:16px;
            color:#fff;
            display:block;
            a{ width:46%;}
            .anum1{
              font-family:'微软雅黑';
              display:inline-block;
              font-size:16px;
              color:#fff;
            }
          
            .anum{
          
              display:inline-block;
              font-size:10px;
              color:#fff;
          
              b{
                font-size:16px;
                color:#31f3fb;
                margin-right:5px;                              
                font-weight:normal;
              }
            }
          }
        }
      
      }
      .states2{
       height:121px;
       margin-top:20px;
         .box{
          width:50%;
          height:20px;
          display:inline-block;
         .block{
          float:left;
            width:16px;
            height:16px;
            border-radius:2px;
            color:#f00;
            margin:4px 5px 10px 20px;
            img{
            margin:0 0 0 -5px;
            }
          
         }
         .contect{
          height:16px;
          line-heigh:16px;
           float:left;
          display:inline-block;
            margin:7px 10px 0 0; 

         }
         .numx{

          height:20px;
          line-heigh:20px;
           float:left;
           font-weight:bold;
          display:inline-block;
           
            margin-top:8px; 

         }
      
}
      }
     
    .indexs{
      position:relative;
      width:277px;
      height:447px;
      display:inline-block;
      border:1px solid #3e4c67;
      background: rgba(44,61,71,0.4);

      }
    .Speed{
      position:relative;
      width:100%;
      height:121px;
      border:1px solid #3e4c67;
      margin-top:22px;
      padding-top:35px;
      background: rgba(44,61,71,0.4);
      .spedc{
        width:50%;
        font-size:16px;
        display:inline-block; 

       .box{
   
          width:50%;
          height:14px;
          display:inline-block;
         .block{
          float:left;
            width:16px;
            height:16px;
            border-radius:2px;
            color:#f00;
            margin:4px 5px 10px 20px;
            img{
            margin:0 0 0 -5px;
            }
          
         }
         .contect{
          height:16px;
          line-heigh:16px;
           float:left;
          display:inline-block;
            margin:7px 10px 0 0; 

         }
         .num{

          height:20px;
          line-heigh:20px;
           float:left;
           font-weight:bold;
          display:inline-block;
           
            margin-top:8px; 

         }
      
}
.box1{
  width:100%
}


      }
      .totalbox{
        width:25%;
        height:122px;
        font-size:18px;
        display:inline-block; 
        padding-top:100px;
        color: #fff;
        float:right;
         a{
         font-size:20px;
         font-family:"微软雅黑";
         font-weight:bold;
         color: #1fe005;

         }
      }

     
    }
    .Situation{
      position:relative;
      width:100%;
      height:160px;
      padding-top:36px;
      border:1px solid #3e4c67;
      margin-top:22px;
      background: rgba(44,61,71,0.4);
      p{
        padding-left:45px;
        height:30px;
        line-height:30px;
        color: #fff;
        margin:0;
        font-size:16px;
        .pspan{
        font-size:10px;
        }
      }
      .boxone{
        width:83%;
        height:25px;
        margin:auto;
        border-radius:10px;
        background: #37555e;
        position:relative;
        .absnum{
           position:absolute;
           height:25px;
           line-height:25px;
           color:#33c4cc;
           right:20px;
           top:0px;
        }
        .absbox1{
           position:absolute;
           width:35%;
           height:25px;
           line-height:25px;
           color:#333;
           left:0px;
           top:0px;
           padding-left:20px;
           border-radius:10px;
           background: #33c4cc;
           text-align:left;
        }
        .absbox2{
        width:50%;
        }
      }
    }
    .Completion{
      position:relative;
      width:100%;
      height:365px;
      padding-top:12px;
      margin-top:22px;
      border:1px solid #3e4c67;
      background: rgba(44,61,71,0.4);

      }

    
