.faultBox{
   width:100%;
   overflow:hidden;
   .search_tit{
    width:100%;
    hieght:46px;
    line-height:46px;
    background: #464c58;
    margin-bottom:20px;
    overflow:hidden;
    .seleBox{
            float:left;
            color:#fff;
            span{margin:0 10px 0 15px; color:#fff;}
            select{width:150px;color:#333;}
        }
        .inputBox{
            float:left;
            span{margin:0 10px 0 15px; color:#fff;}
        }
        .dateBox{
            float:left;
            input{height:25px;}
            span{margin:0 10px 0 15px; color:#fff;}
        }
        .btnBox{
            float:left;

            margin-left:20px;
            font-size:16px;
            button{
            height:25px;
            line-height:20px;
                &:hover{
                    background:#485b7b;
                    color:#fff;
                }
            }
            
        }
    }
    .leftlist{
        width:400px;
        float:left;
        height:840px;
        overflow:auto;
        background: #0a1b2b;
        .place{
            width:100%;
            line-height:35px;
            overflow:hidden;
            margin-top:3px;
            input{
                margin-left:5px; 
                cursor:pointer;
                width:16px;
                height:16px;
                 vertical-align:middle;
                  margin-top:0px;
                  }

            .ca{
                width:100%;
                height:35px; 
                font-size:16px;
                display:inline-block;
                color:#fff;
                padding-left:20px;
                background-color: #0d293f;
                img{margin-right:10px; margin-top:-5px;}
                span{
                cursor:pointer;
                 }
                }
            .placename{
                width:100%;
                overflow:hidden;
                padding:0px;
                display:none;
                
                .da{
                width:100%;
                height:35px;
                line-height:35px; 
                margin:0px;
                img{margin-right:10px;}
                span{
                cursor:pointer;
                 }
                font-size:16px;
                display:inline-block;
                color:#fff;
                padding-left:53px;
                background-image:url('../../../../img/comp/son_fan.png');
                background-repeat: no-repeat;
                background-position: 15px center;
                
                }
                .placeline{
                     width:100%;
                     overflow:hidden;
                     padding:0px;
                     display:none;
                     
                     .ea{
                        width:100%;
                        height:35px;
                        line-height:35px; 
                        margin:0px;
                        img{margin-right:10px;}
                        span{
                            cursor:pointer;
                            }
                        font-size:16px;
                        display:inline-block;
                        color:#fff;
                        padding-left:88px;
                        background-image:url('../../../../img/comp/son_fan.png');
                        background-repeat: no-repeat;
                        background-position: 50px center;
                
                      }
                      .placefan{
                         width:100%;
                         overflow:hidden;
                         display:none;
                         padding:0px;
                         .fa{
                        width:100%;
                        height:35px;
                        line-height:35px; 
                        margin:0px;
                        span{
                            cursor:pointer;
                            }
                        font-size:16px;
                        display:inline-block;
                        color:#fff;
                        padding-left:129px;
                        background-image:url('../../../../img/comp/son_fan.png');
                        background-repeat: no-repeat;
                        background-position: 90px center;
                
                      }
                      }
                }

            }
        }
    }
    .righttable{
        width:1340px;
        float:left;
        margin-left:15px;
        height:840px;
        background: rgba(70,76,88,0.5);
        .tablebox{
            width:100%;
            height:400px;
             overflow:auto;
            .tabtit{
                width:1500px;
                height:40px;
                background: #464c58;
                span{display:inline-block;width:150px;height:40px;line-height:40px;color:#fff;text-align:center;border-right:1px solid #fff;}
                span:last-child{border-right:none;}
            }
            .tabline{
                    width:100%;
                    display:inline-block;
                    div{
                        width:1500px;
                        height:40px;
                        border-bottom:1px solid #fff;
                        span{display:inline-block;width:150px;height:40px;line-height:40px;color:#fff;text-align:center;border-right:1px solid #fff;}
                        span:last-child{border-right:none;}

                    }
            }
            
        }
        .columnbox{
         width:100%;
         height:420px;
         margin-top:20px;
        }
    }
   
}



  .leftlist::-webkit-scrollbar {
        width:10px;
        height:10px;
        border:1px solid #51a0bf;
    }
.leftlist::-webkit-scrollbar-button    {
        background-color:#0b1c2e;
        display:none;
    }
.leftlist::-webkit-scrollbar-track     {
        background:#091a2a;
    }
.leftlist::-webkit-scrollbar-thumb{
        background:#114f6f;
        border-radius:10px;
    }
.leftlist::-webkit-scrollbar-corner {
        background:#82AFFF;
    }
.leftlist::-webkit-scrollbar-resizer  {
        background:#FF0BEE;
    }