.bodybox{
	width:100%;
	height:100%;
	background-image: url('../../../../img/comp/cft.png');
	background-size:100% 100%;
	padding-top:10px;
	position: relative;
	.infotitle{
		width:250px;
		height:300px;
		margin:50px 0 0 8%;
		background: #24282f;
		box-shadow:10px 10px 10px #000;
		position:absolute;
		.item{
		 width:100%;
		 height:100px;
		 overflow:hidden;
		 .itemimg{
		 	width:100px;
		 	height:100px;
		 	float:left;
		 	background-image:url('../../../../img/comp/wd.png');
		 }
		 .itemimg1{
		 	width:100px;
		 	height:100px;
		 	float:left;
		 	background-image:url('../../../../img/comp/qy.png');
		 }
		 .itemimg2{
		 	width:100px;
		 	height:100px;
		 	float:left;
		 	background-image:url('../../../../img/comp/sd.png');
		 }
		 .itembox{
		 	width:150px;
		 	height:100px;
		 	float:right;
		 	color:#fff;
		 	p{
		 		margin-bottom:0px;
		 		b{
		 		font-size:26px;
		 		color: #f97332;
		 		margin:0 10px 0 15px;
		 		}
		 		a{
		 		color: #fff;
		 		}
		 	}
		 	.itemp{
		 		
		 		line-height:20px;
		 		padding-left:15px;
		 		margin-top:25px;
		 		font-size:16px;
		 	}

		 }
		}
	
	}
	.infobox{
		width:250px;
		height:50px;
		float:left;
		line-height:50px;
		margin:10px 20px;
		font-size:22px;
		text-align:left;
		margin-left:5%;
		margin-top:125px;
		.boxname{
			color:#fff;
		}
		a{
		color:#fff;
		
		b{
		margin:0 10px 0 20px;
		color: #2cccd4;
		}
		.unit{
			font-size:16px;
		}
		}
	}
	.infobox3{
		width:250px;
		height:50px;
		float:left;
		line-height:50px;
		margin:10px 20px;
		font-size:22px;
		text-align:left;
		margin-left:5%;
		margin-top:60px;
		.boxname{
			color:#fff;
		}
		a{
		color:#fff;
		
		b{
		margin:0 10px 0 20px;
		color: #2cccd4;
		}
		.unit{
			font-size:16px;
		}
		}
	}
	.infobox1{
		width:19%;
		height:50px;
		float:left;
		line-height:50px;
		margin:10px 20px;
		font-size:22px;
		text-align:right;
		margin-left:33%;
		margin-top:60px;
		.boxname{
			color:#fff;
		}
		a{
		color:#fff;
		
		b{
		margin:0 10px 0 20px;
		color: #2cccd4;
		}
		.unit{
			font-size:16px;
		}
		}
	}
	.infobox2{
		width:19%;
		height:50px;
		float:left;
		line-height:50px;
		margin:10px 20px;
		font-size:22px;
		text-align:right;
		margin-left:33%;
		margin-top:125px;
		.boxname{
			color:#fff;
		}
		a{
		color:#fff;
		
		b{
		margin:0 10px 0 20px;
		color: #2cccd4;
		}
		.unit{
			font-size:16px;
		}
		}
	}
}