.bodyBox{
  .box_shadow:hover{
    box-shadow:0 0 15px #fff;
  }
  .states{
    position:relative;
    width:100%;
    height:140px;
    padding-top:35px;
    padding-left:22px;
    margin-right:15px;
    border:1px solid #3e4c67;
    background: rgba(44,61,71,0.4);
    .wind{
      width:50%;
      float:left;

      .gfzb{
        width:100%;
        height:20px;
        padding-left:20px;
        line-height:20px;
        font-size:16px;
        font-weight:bold;
        color:#fff;
        display:block;
      }
      .num{
        width:100%;
        height:25px;
        line-height:25px;
        font-size:14px;
        color:#fff;
        display:block;
        a{ width:46%;}
        .anum1{
          width:36%;
          font-family:'微软雅黑';
          display:inline-block;
          font-size:14px;
          color:#fff;
        }

        .anum{
          width:56%;
          display:inline-block;
          font-size:10px;
          color:#fff;
          text-align:right;

          b{
            font-size:14px;
            color:#31f3fb;
            margin-right:5px;
            font-weight:normal;
          }
        }
      }
      .num2{
        width:100%;
        height:25px;
        line-height:25px;
        font-size:14px;
        color:#fff;
        display:block;
        a{ width:46%;}
        .anum1{
          width:46%;
          font-family:'微软雅黑';
          display:inline-block;
          font-size:14px;
          color:#fff;
        }

        .anum{
          width:46%;
          display:inline-block;
          font-size:10px;
          color:#fff;
          text-align:right;

          b{
            font-size:14px;
            color:#31f3fb;
            margin-right:5px;
            font-weight:normal;
          }
        }
      }
    }

  }
  .states2{
    height:121px;
    margin-top:15px;
    .box{
      width:50%;
      cursor:pointer;
      height:22px;
      display:inline-block;
      .block{
        float:left;
        width:14px;
        height:14px;
        border-radius:2px;
        color:#f00;
        img{
          margin:-3px 0 0 -5px;
        }
      }
      .contect{
        height:14px;
        line-heigh:14px;
        float:left;
        display:inline-block;
        margin:0px 10px 0 0;
      }
      .numx{
        height:20px;
        line-heigh:20px;
        float:left;
        font-weight:bold;
        display:inline-block;
        margin-top:0px;
        .anum2{width:46%}

      }
    }
  }
  .indexs{
    position:relative;
    width:277px;
    height:447px;
    display:inline-block;
    border:1px solid #3e4c67;
    background: rgba(44,61,71,0.4);

  }
  .Speed{
    position:relative;
    width:100%;
    height:120px;
    border:1px solid #3e4c67;
    margin-top:15px;
    padding-top:35px;
    background: rgba(44,61,71,0.4);
    .spedc{
      width:50%;
      font-size:14px;
      display:inline-block;

      .box{
        cursor:pointer;
        width:50%;
        height:20px;
        display:inline-block;
        .block{
          float:left;
          width:14px;
          height:14px;
          border-radius:2px;
          color:#f00;
          margin:0px 5px 0px 0px;
          img{
            margin:0 0 0 -5px;
          }

        }
        .contect{
          height:14px;
          line-heigh:14px;
          float:left;
          display:inline-block;
          margin:0px 10px 0  3px;

        }
        .num{

          height:14px;
          line-heigh:14px;
          float:left;
          font-weight:bold;
          display:inline-block;

        }

      }
      .box1{
        width:100%
      }


    }
    .totalbox{
      width:25%;
      height:122px;
      font-size:18px;
      display:inline-block;
      padding-top:100px;
      color: #fff;
      float:right;
      a{
        font-size:20px;
        font-family:"微软雅黑";
        font-weight:bold;
        color: #1fe005;

      }
    }


  }
  .Situation{
    position:relative;
    width:100%;
    height:160px;
    padding-top:30px;
    border:1px solid #3e4c67;
    margin-top:15px;
    background: rgba(44,61,71,0.4);
    .hoverBoxD{
      display:none;
      padding-left:20px;
      padding-top:9px;
      z-index:999;
      position:absolute;
      top:-45px;
      left:50%;
      background-color:#39565e;
      height:100px;
      width:35%;
      border-radius:25px;
      color:white;
    }
    .hoverBoxM{
      display:none;
      padding-left:20px;
      padding-top:9px;
      z-index:533;
      position:absolute;
      top:10px;
      left:50%;
      background-color:#39565e;
      height:100px;
      width:35%;
      border-radius:25px;
      color:white;
    }
    p{
      padding-left:45px;
      height:30px;
      line-height:30px;
      color: #fff;
      margin:0;
      font-size:16px;
      .pspan{
        font-size:10px;
      }
    }
    .boxone{
      width:83%;
      height:25px;
      overflow:hidden;
      margin:auto;
      border-radius:10px;
      background: #37555e;
      position:relative;
      .absnum{
        position:absolute;
        height:25px;
        line-height:25px;
        color:#fff;
        right:20px;
        top:0px;
      }
      .absbox1{
        position:absolute;
        width:35%;
        height:25px;
        line-height:25px;
        color:#333;
        left:0px;
        top:0px;
        padding-left:20px;
        border-radius:10px;
        background: #33c4cc;
        text-align:left;
      }
      .absbox2{
        width:50%;
      }
    }
  }
  .Completion{
    position:relative;
    width:100%;
    height:325px;
    padding-top:5px;
    margin-top:15px;
    border:1px solid #3e4c67;
    background: rgba(44,61,71,0.4);

  }
}
.bodyBoxBlue{
  .box_shadow:hover{
    box-shadow:0 0 15px #fff;
  }
  .states{
    position:relative;
    width:100%;
    height:140px;
    padding-top:35px;
    padding-left:22px;
    margin-right:15px;
    border:1px solid #1C405B;
    background: #112A48;
    .wind{
      width:50%;
      float:left;

      .gfzb{
        width:100%;
        height:20px;
        padding-left:20px;
        line-height:20px;
        font-size:16px;
        font-weight:bold;
        color:#fff;
        display:block;
      }
      .num{
        width:100%;
        height:25px;
        line-height:25px;
        font-size:14px;
        color:#fff;
        display:block;
        a{ width:46%;}
        .anum1{
          width:36%;
          font-family:'微软雅黑';
          display:inline-block;
          font-size:14px;
          color:#fff;
        }

        .anum{
          width:56%;
          display:inline-block;
          font-size:10px;
          color:#fff;
          text-align:right;

          b{
            font-size:14px;
            color:#31f3fb;
            margin-right:5px;
            font-weight:normal;
          }
        }
      }
      .num2{
        width:100%;
        height:25px;
        line-height:25px;
        font-size:14px;
        color:#fff;
        display:block;
        a{ width:46%;}
        .anum1{
          width:46%;
          font-family:'微软雅黑';
          display:inline-block;
          font-size:14px;
          color:#fff;
        }

        .anum{
          width:46%;
          display:inline-block;
          font-size:10px;
          color:#fff;
          text-align:right;

          b{
            font-size:14px;
            color:#31f3fb;
            margin-right:5px;
            font-weight:normal;
          }
        }
      }
    }

  }
  .states2{
    height:121px;
    margin-top:15px;
    .box{
      width:50%;
      cursor:pointer;
      height:22px;
      display:inline-block;
      .block{
        float:left;
        width:14px;
        height:14px;
        border-radius:2px;
        color:#f00;
        img{
          margin:-3px 0 0 -5px;
        }
      }
      .contect{
        height:14px;
        line-heigh:14px;
        float:left;
        display:inline-block;
        margin:0px 10px 0 0;
      }
      .numx{
        height:20px;
        line-heigh:20px;
        float:left;
        font-weight:bold;
        display:inline-block;
        margin-top:0px;
        .anum2{width:46%}

      }
    }
  }
  .indexs{
    position:relative;
    width:277px;
    height:447px;
    display:inline-block;
    border:1px solid #1C405B;
    background: #112A48;

  }
  .Speed{
    position:relative;
    width:100%;
    height:120px;
    margin-top:15px;
    padding-top:35px;
    border:1px solid #1C405B;
    background: #112A48;
    .spedc{
      width:50%;
      font-size:14px;
      display:inline-block;

      .box{
        cursor:pointer;
        width:50%;
        height:20px;
        display:inline-block;
        .block{
          float:left;
          width:14px;
          height:14px;
          border-radius:2px;
          color:#f00;
          margin:0px 5px 0px 0px;
          img{
            margin:0 0 0 -5px;
          }

        }
        .contect{
          height:14px;
          line-heigh:14px;
          float:left;
          display:inline-block;
          margin:0px 10px 0  3px;

        }
        .num{

          height:14px;
          line-heigh:14px;
          float:left;
          font-weight:bold;
          display:inline-block;

        }

      }
      .box1{
        width:100%
      }


    }
    .totalbox{
      width:25%;
      height:122px;
      font-size:18px;
      display:inline-block;
      padding-top:100px;
      color: #fff;
      float:right;
      a{
        font-size:20px;
        font-family:"微软雅黑";
        font-weight:bold;
        color: #1fe005;

      }
    }


  }
  .Situation{
    position:relative;
    width:100%;
    height:160px;
    padding-top:30px;
    margin-top:15px;
    border:1px solid #1C405B;
    background: #112A48;
    .hoverBoxD{
      display:none;
      padding-left:20px;
      padding-top:9px;
      z-index:999;
      position:absolute;
      top:-45px;
      left:50%;
      background-color:#39565e;
      height:100px;
      width:35%;
      border-radius:25px;
      color:white;
    }
    .hoverBoxM{
      display:none;
      padding-left:20px;
      padding-top:9px;
      z-index:533;
      position:absolute;
      top:10px;
      left:50%;
      background-color:#39565e;
      height:100px;
      width:35%;
      border-radius:25px;
      color:white;
    }
    p{
      padding-left:45px;
      height:30px;
      line-height:30px;
      color: #fff;
      margin:0;
      font-size:16px;
      .pspan{
        font-size:10px;
      }
    }
    .boxone{
      width:83%;
      height:25px;
      overflow:hidden;
      margin:auto;
      border-radius:10px;
      background: #37555e;
      position:relative;
      .absnum{
        position:absolute;
        height:25px;
        line-height:25px;
        color:#fff;
        right:20px;
        top:0px;
      }
      .absbox1{
        position:absolute;
        width:35%;
        height:25px;
        line-height:25px;
        color:#333;
        left:0px;
        top:0px;
        padding-left:20px;
        border-radius:10px;
        background: #33c4cc;
        text-align:left;
      }
      .absbox2{
        width:50%;
      }
    }
  }
  .Completion{
    position:relative;
    width:100%;
    height:325px;
    padding-top:5px;
    margin-top:15px;
    border:1px solid #1C405B;
    background: #112A48;

  }
}
.bodyBoxWhite{
  .box_shadow:hover{
    box-shadow:0 0 15px #fff;
  }
  .states{
    position:relative;
    width:100%;
    height:140px;
    padding-top:35px;
    padding-left:22px;
    margin-right:15px;
    border:1px solid #DDDDDD;
    background: #E7F1FA;
    .wind{
      width:50%;
      float:left;

      .gfzb{
        width:100%;
        height:20px;
        padding-left:20px;
        line-height:20px;
        font-size:16px;
        font-weight:bold;
        color:#333333;
        display:block;
      }
      .num{
        width:100%;
        height:25px;
        line-height:25px;
        font-size:14px;
        color:#333333;
        display:block;
        a{ width:46%;}
        .anum1{
          width:36%;
          font-family:'微软雅黑';
          display:inline-block;
          font-size:14px;
          color:#333333;
        }

        .anum{
          width:56%;
          display:inline-block;
          font-size:10px;
          color:#333333;
          text-align:right;

          b{
            font-size:14px;
            color:#26CCD7;
            margin-right:5px;
            font-weight:normal;
          }
        }
      }
      .num2{
        width:100%;
        height:25px;
        line-height:25px;
        font-size:14px;
        color:#333333;
        display:block;
        a{ width:46%;}
        .anum1{
          width:46%;
          font-family:'微软雅黑';
          display:inline-block;
          font-size:14px;
          color:#333333;
        }

        .anum{
          width:46%;
          display:inline-block;
          font-size:10px;
          color:#333333;
          text-align:right;

          b{
            font-size:14px;
            color:#26CCD7;
            margin-right:5px;
            font-weight:normal;
          }
        }
      }
    }

  }
  .states2{
    height:121px;
    margin-top:15px;
    .box{
      width:50%;
      cursor:pointer;
      height:22px;
      display:inline-block;
      .block{
        float:left;
        width:14px;
        height:14px;
        border-radius:2px;
        color:#f00;
        img{
          margin:-3px 0 0 -5px;
        }
      }
      .contect{
        height:14px;
        line-heigh:14px;
        float:left;
        display:inline-block;
        margin:0px 10px 0 0;
      }
      .numx{
        height:20px;
        line-heigh:20px;
        float:left;
        font-weight:bold;
        display:inline-block;
        margin-top:0px;
        .anum2{width:46%}

      }
    }
  }
  .indexs{
    position:relative;
    width:277px;
    height:447px;
    display:inline-block;
    border:1px solid #DDDDDD;
    background: #E7F1FA;

  }
  .Speed{
    position:relative;
    width:100%;
    height:120px;
    margin-top:15px;
    padding-top:35px;
    border:1px solid #DDDDDD;
    background: #E7F1FA;
    .spedc{
      width:50%;
      font-size:14px;
      display:inline-block;

      .box{
        cursor:pointer;
        width:50%;
        height:20px;
        display:inline-block;
        .block{
          float:left;
          width:14px;
          height:14px;
          border-radius:2px;
          color:#f00;
          margin:0px 5px 0px 0px;
          img{
            margin:0 0 0 -5px;
          }

        }
        .contect{
          height:14px;
          line-heigh:14px;
          float:left;
          display:inline-block;
          margin:0px 10px 0  3px;

        }
        .num{

          height:14px;
          line-heigh:14px;
          float:left;
          font-weight:bold;
          display:inline-block;

        }

      }
      .box1{
        width:100%
      }


    }
    .totalbox{
      width:25%;
      height:122px;
      font-size:18px;
      display:inline-block;
      padding-top:100px;
      color: #333333;
      float:right;
      a{
        font-size:20px;
        font-family:"微软雅黑";
        font-weight:bold;
        color: #1fe005;

      }
    }


  }
  .Situation{
    position:relative;
    width:100%;
    height:160px;
    padding-top:30px;
    margin-top:15px;
    border:1px solid #DDDDDD;
    background: #E7F1FA;
    .hoverBoxD{
      display:none;
      padding-left:20px;
      padding-top:9px;
      z-index:999;
      position:absolute;
      top:-45px;
      left:50%;
      background-color:#39565e;
      height:100px;
      width:35%;
      border-radius:25px;
      color:white;
    }
    .hoverBoxM{
      display:none;
      padding-left:20px;
      padding-top:9px;
      z-index:533;
      position:absolute;
      top:10px;
      left:50%;
      background-color:#39565e;
      height:100px;
      width:35%;
      border-radius:25px;
      color:white;
    }
    p{
      padding-left:45px;
      height:30px;
      line-height:30px;
      color: #333333;
      margin:0;
      font-size:16px;
      .pspan{
        font-size:10px;
      }
    }
    .boxone{
      width:83%;
      height:25px;
      overflow:hidden;
      margin:auto;
      border-radius:10px;
      background: #C0E2EA;
      position:relative;
      .absnum{
        position:absolute;
        height:25px;
        line-height:25px;
        color:#333333;
        right:20px;
        top:0px;
      }
      .absbox1{
        position:absolute;
        width:35%;
        height:25px;
        line-height:25px;
        color:#333;
        left:0px;
        top:0px;
        padding-left:20px;
        border-radius:10px;
        background: #26CCD7;
        text-align:left;
      }
      .absbox2{
        width:50%;
      }
    }
  }
  .Completion{
    position:relative;
    width:100%;
    height:325px;
    padding-top:5px;
    margin-top:15px;
    border:1px solid #DDDDDD;
    background: #E7F1FA;

  }
}


    
