.faultBox{
   	width: 100%;
   	overflow: hidden;
   	.search_tit{
	    width: 100%;
	    height: 46px;
	    line-height: 46px;
	    background: #464c58;
	    margin-bottom: 20px;
    .seleBox{
            hieght: 46px;
            float: left;
            span{
                margin:0 10px 0 15px;
                color:#fff;
            }
            .select{
                width:150px;height:28px; background:#fff; border:1px solid #ccc; display:inline-block; margin-top:10px;  line-height:25px; padding-left:10px; position:relative;
                span{ color:#333; margin:0 0 0 8px;}
                .topimg{float:right; width:21px; cursor:pointer;}
                    .selectye{ 
                        display:none;
                        width:150px;border:1px solid #ccc;padding-bottom:20px; position:absolute;top:25px;left:0px;background:#fff;margin-left:-1px;padding-left:8px;
                        .item{ 
                            width:100%;height:30px;line-height:30px;padding-left:1px;font-size:16px;cursor:pointer;
                            span{
                                &:hover{color:#00f;font-weight:bold;}
                                }
                            img{float:left;margin: 5px 5px 0 0;}
                        }
                    }
                }
        }
        .inputBox{
            float:left;
            span{margin:0 10px 0 15px; color:#fff;}
        }
        .dateBox{
            float:left;
            input{
            	height:25px;width:140px;
	            background-image: url(../../../img/comp/drop2.gif);
	            background-repeat:no-repeat;
	            background-position:right center;
            }
            span{margin:0 10px 0 15px; color:#fff;}
        }
        .btnBox{
            float:left;
            margin-left:20px;
            font-size:16px;
            button{
	            height:25px;
	            line-height:20px;
	            img{margin-right:5px;}
	            &:hover{background:#ccc}
            }
            
        }
    }
    .search_tit1{margin-bottom:0px;}
    .leftlist{
        width:400px;
        float:left;
        height:780px;
        overflow:auto;
        background: #0a1b2b;
        .place{
            width:100%;
            line-height:35px;
            overflow:hidden;
            margin-top:3px;
            input{
                margin-left:5px; 
                cursor:pointer;
                width:16px;
                height:16px;
                vertical-align:middle;
                margin-top:0px;
            }

            .ca{
                width:100%;
                height:35px; 
                font-size:16px;
                display:inline-block;
                color:#fff;
                padding-left:20px;
                background-color: #0d293f;
                img{margin-right:10px; margin-top:-5px;}
                b{
	                cursor:pointer;
	                font-weight:normal;
                }
            }
            .placename{
                width:100%;
                overflow:hidden;
                padding:0px;
                display:none;
                
                .da{
	                width:100%;
	                height:35px;
	                line-height:35px; 
	                margin:0px;
	                img{margin-right:10px;}
                	b{
		                cursor:pointer;
		                font-weight:normal;
                 	}
	                font-size:16px;
	                display:inline-block;
	                color:#fff;
	                padding-left:53px;
	                background-image:url('../../../img/comp/son_fan.png');
	                background-repeat: no-repeat;
	                background-position: 15px center;
                }
                .placeline{
                    width:100%;
                    overflow:hidden;
                    padding:0px;
                    display:none;
                     
                    .ea{
                        width:100%;
                        height:35px;
                        line-height:35px; 
                        margin:0px;
                        img{margin-right:10px;}
                        b{
                            cursor:pointer;
                            font-weight:normal;
                        }
                        font-size:16px;
                        display:inline-block;
                        color:#fff;
                        padding-left:88px;
                        background-image:url('../../../img/comp/son_fan.png');
                        background-repeat: no-repeat;
                        background-position: 50px center;
                	}
                    .placefan{
                        width:100%;
                        overflow:hidden;
                        display:none;
                        padding:0px;
                        .fa{
	                        width:100%;
	                        height:35px;
	                        line-height:35px; 
	                        margin:0px;
	                        span{
	                            cursor:pointer;
	                        }
	                        font-size:16px;
	                        display:inline-block;
	                        color:#fff;
	                        padding-left:129px;
	                        background-image:url('../../../img/comp/son_fan.png');
	                        background-repeat: no-repeat;
	                        background-position: 90px center;
                		}
                    }
                }
            }
        }
    }
    .bottomtable{
        height:780px;
        width:100%;
        background: rgba(70,76,88,0.5);
    }
    .leftlist1{
        width:400px;
        float:left;
        height:780px;
        overflow:auto;
        background: #0a1b2b;
        .leftlist2{
            width:400px;
            float:left;
            height:390px;
            overflow:auto;
            .place{
                width:100%;
                line-height:35px;
                overflow:hidden;
                margin-top:3px;
                input{
                    margin-left:5px; 
                    cursor:pointer;
                    width:16px;
                    height:16px;
                    vertical-align:middle;
                    margin-top:0px;
                }

                .ca{
                    width:100%;
                    height:35px; 
                    font-size:16px;
                    display:inline-block;
                    color:#fff;
                    padding-left:20px;
                    background-color: #0d293f;
                    img{margin-right:10px; margin-top:-5px;}
                    b{
                        cursor:pointer;
                        font-weight:normal;
                    }
                }
                .placename{
                    width:100%;
                    overflow:hidden;
                    padding:0px;
                    display:none;
                    
                    .da{
                        width:100%;
                        height:35px;
                        line-height:35px; 
                        margin:0px;
                        img{margin-right:10px;}
                        b{
                            cursor:pointer;
                            font-weight:normal;
                        }
                        font-size:16px;
                        display:inline-block;
                        color:#fff;
                        padding-left:53px;
                        background-image:url('../../../img/comp/son_fan.png');
                        background-repeat: no-repeat;
                        background-position: 15px center;
                    }
                    .placeline{
                        width:100%;
                        overflow:hidden;
                        padding:0px;
                        display:none;
                         
                        .ea{
                            width:100%;
                            height:35px;
                            line-height:35px; 
                            margin:0px;
                            img{margin-right:10px;}
                            b{
                                cursor:pointer;
                                font-weight:normal;
                            }
                            font-size:16px;
                            display:inline-block;
                            color:#fff;
                            padding-left:88px;
                            background-image:url('../../../img/comp/son_fan.png');
                            background-repeat: no-repeat;
                            background-position: 50px center;
                        }
                        .placefan{
                            width:100%;
                            overflow:hidden;
                            display:none;
                            padding:0px;
                            .fa{
                                width:100%;
                                height:35px;
                                line-height:35px; 
                                margin:0px;
                                span{
                                    cursor:pointer;
                                }
                                font-size:16px;
                                display:inline-block;
                                color:#fff;
                                padding-left:129px;
                                background-image:url('../../../img/comp/son_fan.png');
                                background-repeat: no-repeat;
                                background-position: 90px center;
                            }
                        }
                    }
                }
            }
        }
        
    }
    
    .righttable{
        width:1340px;
        float:left;
        margin-left:15px;
        height:780px;
        position:relative;
        background: rgba(70,76,88,0.5);
        .tablebox{
            position:relative;
            top:30px;
            width: 100%;
            height: 370px;
            overflow-y:auto;
            table{
                border: 1px solid #fff;
                width: 100%;
                tbody{
                    .thState{
                        width: 100%;
                        height: 52px;
                        &:first-child{
                            background:#0d293f
                        }
                        &:hover{
                            background:#0d293f;
                        }
                        th{
                            width: 16.5%;
                            height: 52px;
                            text-align: center;
                            color: #fff;
                            border: 1px solid #fff;
                        }
                    }
                    .PowCouTh{
                        width: 100%;
                        height: 52px;
                        &:first-child{
                            background:#0d293f
                        }
                        &:hover{
                            background:#0d293f;
                        }
                        th{
                            width: 11%;
                            height: 52px;
                            text-align: center;
                            color: #fff;
                            border: 1px solid #fff;
                        }
                    }
                    .runCheck{
                        width: 100%;
                        height: 52px;
                        &:first-child{
                            background:#0d293f
                        }
                        &:hover{
                            background:#0d293f;
                        }
                        th{
                            width: 9%;
                            height: 52px;
                            text-align: center;
                            color: #fff;
                            border: 1px solid #fff;
                        }
                    }
                    .thRun{
                        width: 100%;
                        height: 52px;
                        &:first-child{
                            background:#0d293f
                        }
                        &:hover{
                            background:#0d293f;
                        }
                        th{
                            width: 11%;
                            height: 52px;
                            text-align: center;
                            color: #fff;
                            border: 1px solid #fff;
                        }
                    }
                }    
            }
        }
    }
}
.leftlist::-webkit-scrollbar{
        width:10px;
        height:10px;
        border:1px solid #51a0bf;
}
.leftlist::-webkit-scrollbar-button{
        background-color:#0b1c2e;
        display:none;
}
.leftlist::-webkit-scrollbar-track{
        background:#091a2a;
}
.leftlist::-webkit-scrollbar-thumb{
        background:#114f6f;
        border-radius:10px;
}
.leftlist::-webkit-scrollbar-corner{
        background:#82AFFF;
}
.leftlist::-webkit-scrollbar-resizer{
        background:#FF0BEE;
}