.bodyBox {
  .box_shadow:hover{
    box-shadow:0 0 20px #fff;
  }
  overflow:hidden;
  position: relative;
  .station {
    width:850px;
    display: inline-block;
    float:left;
    height:450px;
    overflow: hidden;
    margin: 15px;
    position: relative;
    border:3px solid #464c58;
    .mainn{
      width:100%;
      height: 100%;
      margin-top: 36px;
      overflow: hidden;
      position: relative;
      background:url("../img/comp/boosterBg.png") no-repeat;
      background-size: 850px 414px;
    }
      .hongde{
        width: 30px;
        height: 30px;
        background:url("../img/comp/defa.png") no-repeat;
        position: absolute;
        margin-top: 7px;
        margin-left: 500px;
        animation: blink .75s linear infinite;
        -webkit-animation: blink .75s linear infinite;
      }
      .lvde{
        width: 30px;
        height: 30px;
        background:url("../img/comp/succ.png") no-repeat;
        position: absolute;
        margin-top: 7px;
        margin-left: 500px;;
      }
      .hongdee{
        width: 30px;
        height: 30px;
        background:url("../img/comp/defa.png") no-repeat;
        position: absolute;
        margin-top: 7px;
        margin-left: 550px;
        animation: blink .75s linear infinite;
        -webkit-animation: blink .75s linear infinite;
      }
      .lvdee{
        width: 30px;
        height: 30px;
        background:url("../img/comp/succ.png") no-repeat;
        position: absolute;
        margin-top: 7px;
        margin-left: 550px;
      }
      .lastt{
        width:130px;
        margin-left: 650px;
        margin-top: 7px;
        position: absolute;
        div{
          margin: 0px;
          width: 40px;
          height:25px;
          display: inline-block;
          color:#ffffff;
        }
      }

  }

}
@-webkit-keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 1; }
  50.01% { opacity: 0; }
  100% { opacity: 0; }
}