.bodyBox {
  overflow:hidden;
  position: relative;
  .station {
    width:850px;
    display: inline-block;
    float:left;
    height:450px;
    overflow: hidden;
    margin-right: 30px;
    margin-bottom: 30px;
    background: #1f2638;
    position: relative;
    .titleChange {
      width:100%;
      text-align: center;
      font-size: 22px;
      padding-right: 25px;
    }
  }
}