.bodyBox {
  overflow: hidden;
  .changeBox{
    img{
      display: inline-block;
      position: absolute;
    }
  }
  .leftBox {
    width: 478px;
    float: left;
    padding-bottom: 20px;
    position: relative;
    //animation:mymove 3s ;
    //-webkit-animation:mymove 3s ; /*Safari and Chrome*/
    .states {
      position: relative;
      width: 100%;
      height: 143px;
      padding-top: 35px;
      margin-right: 15px;
      border: 1px solid #3e4c67;
      background: rgba(44, 61, 71, 0.4);
      .wind {
        width: 50%;
        float: left;

        .gfzb {
          width: 100%;
          height: 25px;
          padding-left: 20px;
          line-height: 25px;
          font-size: 16px;
          font-weight: bold;
          color: #fff;
          display: block;
        }
        .num {
          width: 100%;
          height: 25px;
          padding-left: 20px;
          line-height: 25px;
          font-size: 16px;
          color: #fff;
          display: block;
          a {
            width: 46%;
          }
          .anum1 {
            font-family: '微软雅黑';
            display: inline-block;
            font-size: 16px;
            color: #fff;
          }

          .anum {

            display: inline-block;
            font-size: 16px;
            color: #fff;

            b {
              font-size: 16px;
              color: #31f3fb;
              font-weight: normal;
            }
          }
        }
      }

    }
    .states2 {
      height: 121px;
      margin-top: 20px;
    }

    .indexs {
      position: relative;
      width: 277px;
      height: 447px;
      display: inline-block;
      border: 1px solid #3e4c67;
      background: rgba(44, 61, 71, 0.4);

    }
    .Speed {
      position: relative;
      width: 100%;
      height: 121px;
      border: 1px solid #3e4c67;
      margin-top: 22px;
      padding-top: 35px;
      background: rgba(44, 61, 71, 0.4);
      .spedc {
        width: 50%;
        height: 142px;
        font-size: 16px;
        display: inline-block;

      }
      .totalbox {
        width: 25%;
        height: 122px;
        font-size: 18px;
        display: inline-block;
        padding-top: 100px;
        color: #fff;
        float: right;
        a {
          font-size: 20px;
          font-family: "微软雅黑";
          font-weight: bold;
          color: #1fe005;

        }
      }

    }
    .Situation {
      position: relative;
      width: 100%;
      height: 160px;
      padding-top: 36px;
      border: 1px solid #3e4c67;
      margin-top: 22px;
      background: rgba(44, 61, 71, 0.4);
      p {
        padding-left: 45px;
        height: 30px;
        line-height: 30px;
        color: #fff;
        margin: 0;
        font-size: 16px;
      }
      .boxone {
        width: 83%;
        height: 25px;
        margin: auto;
        border-radius: 10px;
        background: #37555e;
        position: relative;
        .absnum {
          position: absolute;
          height: 25px;
          line-height: 25px;
          color: #33c4cc;
          right: 20px;
          top: 0px;
        }
        .absbox1 {
          position: absolute;
          width: 35%;
          height: 25px;
          line-height: 25px;
          color: #333;
          left: 0px;
          top: 0px;
          border-radius: 10px;
          background: #33c4cc;
          text-align: center;
        }
        .absbox2 {
          width: 50%;
        }
      }
    }
    .Completion {
      position: relative;
      width: 100%;
      height: 365px;
      padding-top: 12px;
      margin-top: 22px;
      border: 1px solid #3e4c67;
      background: rgba(44, 61, 71, 0.4);

    }
  }
  .rightBox {
    display: inline-block;
    margin-left: 30px;
    width: 1230px;
    height: 900px;
    padding-bottom: 20px;
    position: relative;
    img {
      width: 100%;
      height: 100%;
    }

  }
  .rightBoxChange{
    display: inline-block;
    margin-left: 30px;
    width: 1700px;
    height: 900px;
    padding-bottom: 20px;
    position: relative;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .animat{
    margin-left:-478px;
    animation:myfirst 1s;
    -moz-animation:myfirst 1s; /* Firefox */
    -webkit-animation:myfirst 1s; /* Safari and Chrome */
    -o-animation:myfirst 1s; /* Opera */
  }
  .animat1{
    margin-left:0px;
    animation:myfirst1 1s;
    -moz-animation:myfirst1 1s; /* Firefox */
    -webkit-animation:myfirst1 1s; /* Safari and Chrome */
    -o-animation:myfirst1 1s; /* Opera */
  }
  .animat2{
    width:1700px;
    animation:myfirst2 1s;
    -moz-animation:myfirst2 1s; /* Firefox */
    -webkit-animation:myfirst2 1s; /* Safari and Chrome */
    -o-animation:myfirst2 1s; /* Opera */
  }
  .animat3{
    width:1230px;
    animation:myfirst3 1s;
    -moz-animation:myfirst3 1s; /* Firefox */
    -webkit-animation:myfirst3 1s; /* Safari and Chrome */
    -o-animation:myfirst3 1s; /* Opera */
  }
}

@keyframes myfirst
{
  from {margin-left:0;}
  to {margin-left:-478px;}
}

@-moz-keyframes myfirst /* Firefox */
{
  from {margin-left:0;}
  to {margin-left:-478px;}
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
  from {margin-left:0;}
  to {margin-left:-478px;}
}

@-o-keyframes myfirst /* Opera */
{
  from {margin-left:0;}
  to {margin-left:-478px;}
}


@keyframes myfirst1
{
  from {margin-left:-478px;}
  to {margin-left:0;}
}

@-moz-keyframes myfirst1 /* Firefox */
{
  from {margin-left:-478px;}
  to {margin-left:0;}
}

@-webkit-keyframes myfirst1 /* Safari and Chrome */
{
  from {margin-left:-478px;}
  to {margin-left:0;}
}

@-o-keyframes myfirst1 /* Opera */
{
  from {margin-left:-478px;}
  to {margin-left:0;}
}





@keyframes myfirst2
{
  from {width:1230px;}
  to {width:1700px;}
}

@-moz-keyframes myfirst2 /* Firefox */
{
  from {width:1230px;}
  to {width:1700px;}
}

@-webkit-keyframes myfirst2 /* Safari and Chrome */
{
  from {width:1230px;}
  to {width:1700px;}
}

@-o-keyframes myfirst2 /* Opera */
{
  from {width:1230px;}
  to {width:1700px;}
}



@keyframes myfirst3
{
  from {width:1700px;}
  to {width:1230px;}
}

@-moz-keyframes myfirst3 /* Firefox */
{
  from {width:1700px;}
  to {width:1230px;}
}

@-webkit-keyframes myfirst3 /* Safari and Chrome */
{
  from {width:1700px;}
  to {width:1230px;}
}

@-o-keyframes myfirst3 /* Opera */
{
  from {width:1700px;}
  to {width:1230px;}
}