.bodyBox {
  overflow: hidden;
  .changeBox{
    img{
      display: inline-block;
      position: absolute;
    }
  }
  .leftBox {
    width: 478px;
    float: left;
    padding-bottom: 20px;
    position: relative;
    //animation:mymove 3s ;
    //-webkit-animation:mymove 3s ; /*Safari and Chrome*/
  }
  .rightBox {
    display: inline-block;
    margin-left: 30px;
    width: 1230px;
    height: 900px;
    padding-bottom: 20px;
    position: relative;
    img {
      width: 100%;
      height: 100%;
    }

  }
  .rightBoxChange{
    display: inline-block;
    margin-left: 30px;
    width: 1700px;
    height: 900px;
    padding-bottom: 20px;
    position: relative;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .animat{
    margin-left:-478px;
    animation:myfirst 1s;
    -moz-animation:myfirst 1s; /* Firefox */
    -webkit-animation:myfirst 1s; /* Safari and Chrome */
    -o-animation:myfirst 1s; /* Opera */
  }
  .animat1{
    margin-left:0px;
    animation:myfirst1 1s;
    -moz-animation:myfirst1 1s; /* Firefox */
    -webkit-animation:myfirst1 1s; /* Safari and Chrome */
    -o-animation:myfirst1 1s; /* Opera */
  }
  .animat2{
    width:1700px;
    animation:myfirst2 1s;
    -moz-animation:myfirst2 1s; /* Firefox */
    -webkit-animation:myfirst2 1s; /* Safari and Chrome */
    -o-animation:myfirst2 1s; /* Opera */
  }
  .animat3{
    width:1230px;
    animation:myfirst3 1s;
    -moz-animation:myfirst3 1s; /* Firefox */
    -webkit-animation:myfirst3 1s; /* Safari and Chrome */
    -o-animation:myfirst3 1s; /* Opera */
  }
}

@keyframes myfirst
{
  from {margin-left:0;}
  to {margin-left:-478px;}
}

@-moz-keyframes myfirst /* Firefox */
{
  from {margin-left:0;}
  to {margin-left:-478px;}
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
  from {margin-left:0;}
  to {margin-left:-478px;}
}

@-o-keyframes myfirst /* Opera */
{
  from {margin-left:0;}
  to {margin-left:-478px;}
}


@keyframes myfirst1
{
  from {margin-left:-478px;}
  to {margin-left:0;}
}

@-moz-keyframes myfirst1 /* Firefox */
{
  from {margin-left:-478px;}
  to {margin-left:0;}
}

@-webkit-keyframes myfirst1 /* Safari and Chrome */
{
  from {margin-left:-478px;}
  to {margin-left:0;}
}

@-o-keyframes myfirst1 /* Opera */
{
  from {margin-left:-478px;}
  to {margin-left:0;}
}





@keyframes myfirst2
{
  from {width:1230px;}
  to {width:1700px;}
}

@-moz-keyframes myfirst2 /* Firefox */
{
  from {width:1230px;}
  to {width:1700px;}
}

@-webkit-keyframes myfirst2 /* Safari and Chrome */
{
  from {width:1230px;}
  to {width:1700px;}
}

@-o-keyframes myfirst2 /* Opera */
{
  from {width:1230px;}
  to {width:1700px;}
}



@keyframes myfirst3
{
  from {width:1700px;}
  to {width:1230px;}
}

@-moz-keyframes myfirst3 /* Firefox */
{
  from {width:1700px;}
  to {width:1230px;}
}

@-webkit-keyframes myfirst3 /* Safari and Chrome */
{
  from {width:1700px;}
  to {width:1230px;}
}

@-o-keyframes myfirst3 /* Opera */
{
  from {width:1700px;}
  to {width:1230px;}
}