.bodyBox{
  .box_shadow:hover{
       box-shadow:0 0 15px #fff;
      }
  .listrightBox{
    width:1260px;
    height:1135px;
    overflow:hidden;
    float:right;
    .listbodyBox1 {
    overflow-y:scroll;
  
    padding-right:10px;
    -padding-left:10px;
    -width:1200;
    height:100%;
    display:inline-block;
    background-color: #2EA6AF;
    .listheaderBox:last-child{
      padding-bottom:25px;
      }
    .listheaderBox{
      width:100%;
      height:auto;
      margin: 10px auto;
      background-color:#1D2835;
      position:relative;

      .listbtn{
      width:130px;
      padding:5px 0;
      border-radius:6px;
      background-color:#31F3FB;
      color:#69747B;
      font-size:16px;
      font-weight: bold;  
      position:absolute;
      top:38%;left:10px;
      box-shadow:1px 1px 3px #292929
    }
    .listbtnitem{
      float:left;
    }
    .listopt:nth-child(3){
      margin: 10px 0px 60px 170px;
      }
      .listopt{
      display:inline-block;
      margin: 10px 0px 10px 140px;
      padding:5px 20px;
      background-color:#1D2835;
      width:1130px;
      min-height:100px;
     
      
      div{
        font-size:14px;
        cursor:pointer;
        display:inline-table;
        float:left;
        width:58px;
        height:25px;
        border-radius:3px;
        line-height:25px;
        text-align:center;
        padding:0 2px;
        margin: 3px;
        position:relative;
        .listoptinfo{
          width:150px;height:110px;background-color: #FFFFFF;display:none;
          position:absolute;right:65px;top: -10px;
          font-size:20px;
          text-align:left;
          color:#578D1E;
          span{
            
            line-height:40px;
            display:inline-block;
            
            width:100%;
            height:40px;
            border-bottom:1px solid #999;
          }
          p{
            margin:0 auto;
            display:block;
            line-height:35px;
            font-size:16px;
          }
        }
        
      }
      div:hover{
        box-shadow:0px 0px 8px 2px #fff;
        cursor:pointer;
        .listoptinfo{
          display:block;
          z-index:1000;
        }
      }
    
      .listoptbtn_2{
        box-shadow:1px 1px 3px #87CB2D;
        -background-color:#87CB2D;/*绿色*/
        background-color:#f1a820
      }
      
      }
    }
    }
  }
    .leftBox{
      width: 478px;
      float:left;
      padding-bottom:20px;
      .states{
        position:relative;
        width:100%;
        height:143px;
        padding-top:35px;
        margin-right:15px;
        border:1px solid #3e4c67;
        background: rgba(44,61,71,0.4);
        .wind{
          width:50%;
          float:left;
      
          .gfzb{
            width:100%;
            height:25px;
            padding-left:20px;
            line-height:25px;
            font-size:16px;
            font-weight:bold;
            color:#fff;
            display:block;
          }
          .num{
            width:100%;
            height:25px;
            padding-left:20px;
            line-height:25px;
            font-size:16px;
            color:#fff;
            display:block;
            a{ width:46%;}
            .anum1{
              font-family:'微软雅黑';
              display:inline-block;
              font-size:16px;
              color:#fff;
            }
          
            .anum{
          
              display:inline-block;
              font-size:16px;
              color:#fff;
          
              b{
                font-size:16px;
                color:#31f3fb;
                font-weight:normal;
              }
            }
          }
        }
      
      }
      .states2{
       height:121px;
       margin-top:20px;
         .box{
   
          width:50%;
          height:20px;
          display:inline-block;
         .block{
          float:left;
            width:16px;
            height:16px;
            border-radius:2px;
            color:#f00;
            margin:4px 5px 10px 20px;
            img{
            margin:0 0 0 -5px;
            }
          
         }
         .contect{
          height:16px;
          line-heigh:16px;
           float:left;
          display:inline-block;
            margin:7px 10px 0 0; 

         }
         .numx{

          height:20px;
          line-heigh:20px;
           float:left;
           font-weight:bold;
          display:inline-block;
           
            margin-top:8px; 

         }
      
   }
      }
     
    .indexs{
      position:relative;
      width:277px;
      height:447px;
      display:inline-block;
      border:1px solid #3e4c67;
      background: rgba(44,61,71,0.4);

      }
    .Speed{
      position:relative;
      width:100%;
      height:121px;
      border:1px solid #3e4c67;
      margin-top:22px;
      padding-top:35px;
      background: rgba(44,61,71,0.4);
      .spedc{
        width:50%;
        height:142px;
        font-size:16px;
        display:inline-block; 

       .box{
   
          width:50%;
          height:14px;
          display:inline-block;
         .block{
          float:left;
            width:16px;
            height:16px;
            border-radius:2px;
            color:#f00;
            margin:4px 5px 10px 20px;
            img{
            margin:0 0 0 -5px;
            }
          
         }
         .contect{
          height:16px;
          line-heigh:16px;
           float:left;
          display:inline-block;
            margin:7px 10px 0 0; 

         }
         .num{

          height:20px;
          line-heigh:20px;
           float:left;
           font-weight:bold;
          display:inline-block;
           
            margin-top:8px; 

         }
      
}
.box1{
  width:100%
}


      }
      .totalbox{
        width:25%;
        height:122px;
        font-size:18px;
        display:inline-block; 
        padding-top:100px;
        color: #fff;
        float:right;
         a{
         font-size:20px;
         font-family:"微软雅黑";
         font-weight:bold;
         color: #1fe005;

         }
      }

     
    }
    .Situation{
      position:relative;
      width:100%;
      height:160px;
      padding-top:36px;
      border:1px solid #3e4c67;
      margin-top:22px;
      background: rgba(44,61,71,0.4);
      p{
        padding-left:45px;
        height:30px;
        line-height:30px;
        color: #fff;
        margin:0;
        font-size:16px;
      }
      .boxone{
        width:83%;
        height:25px;
        margin:auto;
        border-radius:10px;
        background: #37555e;
        position:relative;
        .absnum{
           position:absolute;
           height:25px;
           line-height:25px;
           color:#33c4cc;
           right:20px;
           top:0px;
        }
        .absbox1{
           position:absolute;
           width:35%;
           height:25px;
           line-height:25px;
           color:#333;
           left:0px;
           top:0px;
           padding-left:20px;
           border-radius:10px;
           background: #33c4cc;
           text-align:left;
        }
        .absbox2{
        width:50%;
        }
      }
    }
    .Completion{
      position:relative;
      width:100%;
      height:365px;
      padding-top:12px;
      margin-top:22px;
      border:1px solid #3e4c67;
      background: rgba(44,61,71,0.4);

      }

    }
}
