.tkglBox{
  position: relative;
  .agc{
    cursor: pointer;
    color: #fff;
    margin-left: 85%;
    width:8%;
    font-size: 20px;
    text-decoration: underline;
  }
  .upBox{
    margin-top: -10px;
  }
  .downBox{
    margin-top: -10px;
  }
  .tableBox {
    font-size: 16px;
    overflow: auto;
    width:1000px;
    position: absolute;
    top: 33px;
    left:780px;
    display: none;
    z-index:100;
    background:#000;
    .tableHeaderBox {
      overflow: hidden;
      background: #464c58;
      .tableHeaderItem {
        float: left;
        height:58px;
        line-height:58px;
        overflow: hidden;
        color:#fff;
        text-align: center;
      }
    }
    .tableContentBox {
      .tableContentLine {
        color:#fff;
        background: #30343f;
        overflow: hidden;
        input{
          background: #30343f;
        }
        &:hover{
          background:#676e82;
        }
        .tableContentItem {
          float: left;
          overflow: hidden;
          text-align: center;
          height: 42px;
          line-height:42px;
          border: none;
          position: relative;
          .turn{
            background-size: 50px 30px;
            height: 30px;
            width: 50px;
            left: 50%;
            position: absolute;
            top:50%;
            margin-left: -25px;
            margin-top: -15px;
          }
        }
        .tableLineNum {
          width: 45px;
          padding: 10px 0 10px;
          text-align: center;
          background-color: #E4E5E6;
          float: left;
        }
      }
      .tableContentLine1 {
        color:#fff;
        background: #272b34;
        overflow: hidden;
        input{
          background: #272b34;
        }
        &:hover{
          background:#676e82;
        }
        .tableContentItem {
          float: left;
          overflow: hidden;
          text-align: center;
          height: 42px;
          line-height:42px;
          border: none;
          position: relative;
          .turn{
            background-size: 50px 30px;
            height: 30px;
            width: 50px;
            left: 50%;
            position: absolute;
            top:50%;
            margin-left: -25px;
            margin-top: -15px;
          }
        }
        .tableLineNum {
          width: 45px;
          padding: 10px 0 10px;
          text-align: center;
          background-color: #E4E5E6;
          float: left;
        }
      }
    }
  }
}