.box{
    overflow:hidden;
    padding:10px;
    padding-right:40px;
  
    .bigbox:hover{
    box-shadow:0 0 15px #fff;
    }
    .padding{
  
    height:23px;
    }
    .back{
   float:right;
    
       align-items:center;
       color: #20FEFF;
       color:#fff;
       border:1px solid #20FEFF;
       width:100px;
       height:40px;
       line-height:40px;
       position:relative;
       top:-8px;
       right:0;
       border-radius:45px;

      cursor:pointer;
       text-align:center;
    }
    .back:hover{
     box-shadow:0px 0px 10px  #20FEFF;
     color:#20FEFF
    }
    .bigbox{
    height:100%;
    width:100%;
    border:1px solid #282F37;
    position:relative;
    margin:10px auto;
    margin-top:15px;
     background: rgba(44, 61, 71,0.4);
      .coverbox{
        margin-top:20px;
      }
      .imgq{
        width:16px;
        height:16px;
        position:absolute;
        top:3px;
        left:54px;
        text-align:center;
        line-height:30px;
        img{
          height:19px;
          width:16px;
        }
      }
      .imgqq{
        width:16px;
        height:16px;
        position:absolute;
        top:9px;
        left:46px;
        text-align:center;
        line-height:30px;
        img{
          height:16px;
          width:16px;
        }
      }
    }
    .img{
     position:absolute;
        top:15px;
        left:5px;
    }
    .monthbox{
    width: 100%;
    height: 80px;
    list-style: none;
    background-color: #21242b;
    padding:0;
    padding-left:10px;
    position:relative;
    background: linear-gradient(to bottom,#242a32 ,#1f2025);
    li{
     float:left;
     font-size:16px;
     font-family: '微软雅黑';
     color:white;
     height:35px;
     line-height:33px;
     text-align:center;
     width:100px;
     border-radius:17px;
     margin:25px 10px;
     font-weight:700;
     cursor:pointer;
      &:hover{
                background:#20FEFF;
     color:black;
    box-shadow:0px 0px 10px  #20FEFF;
            }
     }
     li:last-child{
     color: #20FEFF;
       position:absolute;
       top:-5px;
       right:412px;
       border:1px solid #20FEFF;
       width:110px;
       height:45px;
       line-height:45px;
       margin-bottom:25px;
       border-radius:45px;
       background:radial-gradient(#1c444a, #1c3f46);
       box-shadow:0px 0px 10px  #20FEFF;
     }
     li:nth-last-child(2){
     
     }
      li:last-child:hover{
      background:#156e74;
      }
    }
    .windecbox{  
            width:100%;
            height:300px;
            margin-bottom: 12px;
            position:relative;  
           }
            .title{
            font-size:16px;
            font-weight:700;
            color:white;
            font-family:'微软雅黑';
            font-size:16px;
            display:inline-block;
            position:absolute;
            top:19px;
            left:98px;
            z-index:10;
            
            }
            .titlee{
       
            font-weight:700;
            color:white;
            font-family:'微软雅黑';
            font-size:16px;
            display:inline-block;
            position:absolute;
            top:19px;
            left:98px;
            z-index:10;
            
            }
            .titleee{
            font-size:16px;
            font-weight:700;
            color:white;
            font-family:'微软雅黑';
            font-size:16px;
            display:inline-block;
            position:absolute;
            top:7px;
            left:98px;
            z-index:10;
            
            }
    .buttons{
    height:46px;
    width:300px;
    position:absolute;
    top:0px;
    right:0px;
    }
    .buttons{
    height:60px;
    line-height:60px;
      button{
      width:80px;
      height:35px;
      line-height:20px;
      text-align:center;
      font-size:16px;
      border-radius:15px;
      font-family:'微软雅黑';
      margin-left:12px;
      background-color:white;
      }
    }

}