.box{
    overflow:hidden;
    .bigbox{
    height:100%;
    width:100%;
    border:1px solid #282F37;
    position:relative;
    border-radius:10px;
      background-color: #282F37;
      .coverbox{
        margin-top:20px;
      }
      .imgq{
        width:50px;
        height:30px;
        position:absolute;
        top:27px;
        left:43px;
        text-align:center;
        line-height:30px;
        img{
          height:30px;
          width:30px;
        }
      }
    }
    .monthbox{
    width: 100%;
    height: 80px;
    list-style: none;
    background-color: #21242b;
    padding:0;
    padding-left:10px;
    position:relative;
    background: linear-gradient(to bottom,#242a32 ,#1f2025);
    li{
     float:left;
     font-size:20px;
     font-family: '微软雅黑';
     color:white;
     height:35px;
     line-height:33px;
     text-align:center;
     width:100px;
     border-radius:17px;
     margin:25px 10px;
     font-weight:700;
     cursor:pointer;
      &:hover{
                background:#20FEFF;
     color:black;
    box-shadow:0px 0px 10px  #20FEFF;
            }
     }
     li:last-child{
     color: #20FEFF;
       position:absolute;
       top:-5px;
       right:412px;
       border:1px solid #20FEFF;
       width:110px;
       height:45px;
       line-height:45px;
       margin-bottom:25px;
       border-radius:45px;
       background:radial-gradient(#1c444a, #1c3f46);
       box-shadow:0px 0px 10px  #20FEFF;
     }
     li:nth-last-child(2){
     
     }
      li:last-child:hover{
      background:#156e74;
      }
    }
    .windecbox{
            margin-top:50px;
            width:100%;
            height:300px;
            margin-bottom: 12px;
           }
    .buttons{
    height:46px;
    width:300px;
    position:absolute;
    top:0px;
    right:0px;
    }
    .buttons{
    height:60px;
    line-height:60px;
      button{
      width:80px;
      height:35px;
      line-height:20px;
      text-align:center;
      font-size:20px;
      border-radius:10px;
      font-family:'微软雅黑';
      margin-left:12px;
      background-color:white;
      }
    }
}