.box{
    overflow:hidden;
    padding-bottom:10px;
     .shadow:hover{
      box-shadow:0 0 15px #fff;
     }
     .bigbox:hover{
     box-shadow:0 0 15px #fff;
     }
    .bigbox{
    height:100%;
    width:98%;
    margin:0 auto;
    border:1px solid #282F37;
    position:relative;
      background-color: #282F37;
      .lkua{
      border:3px solid #5B9BD5;
      height:14px;
      width:14px;
      position:absolute;
      right:204px;
      top:68px;
      z-index:100;
      }
      .rkua{
      border:3px solid #ED7D31;
      height:14px;
      width:14px;
      position:absolute;
      right:92px;
      top:68px;
      z-index:100;
      }
      .coverbox{
        margin-top:50px;
      }
      
      .tik{
      color:#fff;
      position:absolute;
        font-size:16px;
        top:25px;
        left:70px;
        font-weight:700;
      }
      .imgq{
        width:16px;
        height:30px;
        position:absolute;
        top:20px;
        left:46px;
        text-align:center;
        line-height:30px;
        img{
          height:16px;
          width:16px;
        }
      }
    }
    .monthbox{
    margin-bottom:50px;
    width: 100%;
    height: 80px;
    list-style: none;
    background-color: #21242b;
    padding:0;
    padding-left:10px;
    position:relative;
    display:flex;
    align-item:center;
    background: linear-gradient(to bottom,#242a32 ,#1f2025);
    li{
     float:left;
     font-size:16px;
     font-family: '微软雅黑';
     color:white;
     height:35px;
     line-height:33px;
     text-align:center;
     width:100px;
     border-radius:17px;
     margin:25px 10px;
     font-weight:700;
     cursor:pointer;
     }
     li:last-child{
     color: #20FEFF;
      
       border:1px solid #20FEFF;
       width:100px;
       height:40px;
       line-height:40px;
       margin-bottom:25px;
       border-radius:45px;
       background:radial-gradient(#1c444a, #1c3f46);
       box-shadow:0px 0px 10px  #20FEFF;
     }
     li:nth-last-child(2){

     }
       .red{
    background:#20FEFF;
    color:black;
  }
  .green{
    color:white;
  }
      li:last-child:hover{
      background:#156e74;
      }
      .red{
        background:#20FEFF;
        color:black;
      }
      .green{
        color:white;
      }
    }
    .windecbox{
            margin-top:50px;
            width:100%;
            height:300px;
            margin-bottom: 12px;
           }
    .buttons{
    width:254px;
    position:absolute;
    top:0px;
    right:0px;

    }
    .buttons{
    height:60px;
    line-height:60px;
      button{
      width:70px;
      height:30px;
      line-height:20px;
      text-align:center;
      font-size:16px;
      font-family:'微软雅黑';
      margin-left:12px;
      background-color:white;
      color: #20FEFF;
      border:1px solid #20FEFF;
      background:radial-gradient(#1c444a, #1c3f46);
         border-radius:15px;
      }
      button:hover{
                background:#20FEFF;
            color:black;
          box-shadow:0px 0px 10px  #20FEFF;
      }
     
    }
}