.box{
    overflow:hidden;
    color: white;
    font-size: 16px;
    width: 1780px;
    height: 920px;
    padding: 10px 40px 10px 10px;
    .left{
        display: inline-block;
        width: 72%;
        float: left;
        .firstfloor{
            position: relative;
            height: 250px;
            width: 100%;
            .sectionSmall{
                position: relative;
                float: left;
                width: 32%;
                height: 100%;
                background-color:#282b34;
                padding-top: 10px; 
                .sectionbar{
                    text-align: center;
                    width: 40%;
                    float: left;
                    padding-top: 70px;
                }
                .sectionfour{
                    float: left;
                    width: 60%;
                    padding-top: 30px;
                    position: relative;
                    .numBox{
                        position:absolute;
                        top:50%;
                        left:41%;
                        width:110px;
                        text-align: center;
                        height:40px;
                        line-height:18px;
                        font-size: 16px;
                        z-index:11;
                        margin-left:-30px;
                        margin-top:-15px;
                        display:inline-block;
                        padding:0 5px;
                        color: #ffffff;
                        p{
                            font-size: 26px;
                        }
                    }   
                }
            }
            .section{
                position: relative;
                float: left;
                width: 33%;
                height: 100%;
                background-color:#282b34;
                margin-right: 1%;
                padding-top: 10px;
                .sectionbar{
                    text-align: center;
                    width: 40%;
                    float: left;
                    padding-top: 70px;
                }.sectiontwo{
                    float: left;
                    width: 60%;
                    padding-top: 30px;
                    position: relative;
                    .numBox{
                        position:absolute;
                        top:50%;
                        left:41%;
                        width:110px;
                        text-align: center;
                        height:40px;
                        line-height:18px;
                        font-size: 16px;
                        z-index:11;
                        margin-left:-30px;
                        margin-top:-15px;
                        display:inline-block;
                        padding:0 5px;
                        color: #ffffff;
                        p{
                            font-size: 26px;
                        }
                    }
                }.sectionthree{
                    float: left;
                    width: 60%;
                    padding-top: 30px;
                    position: relative;
                    .numBox{
                        position:absolute;
                        top:50%;
                        left:41%;
                        width:110px;
                        text-align: center;
                        height:40px;
                        line-height:18px;
                        font-size: 16px;
                        z-index:11;
                        margin-left:-30px;
                        margin-top:-15px;
                        display:inline-block;
                        padding:0 5px;
                        color: #ffffff;
                        p{
                            font-size: 26px;
                        }
                    }
                }
            }
        }.secondfloor{
            position: relative;
            top: 10px;
            height: 640px;
            width: 100%;
            .electric{
                position: absolute;
                height: 100%;
                width: 33%;
                background-color: #282b34;
                .electricHeader{
                    height: 35px;
                    width: 100%;
                    line-height: 35px;
                    background-color: #464c58;
                }.electricFirst{
                    height: 200px;
                    width: 100%;
                    padding-left: 30px;
                    padding-top: 50px;
                    .electricTotal{
                            margin: 10px 0;
                            color:#f23333; 
                    }.electricPercent{
                            width: 95%;
                            height: 30px;
                            background-color: #39565e;
                            border-radius: 15px;
                            overflow: hidden;
                        div{
                                color: black;
                                padding-left: 10px;
                                line-height: 30px;
                                height: 30px;
                                border-radius: 15px;
                                background-color: #0f3;
                        }
                    }
                }.electricSecond{
                    height: 200px;
                    width: 100%;
                    padding-left: 30px;
                    padding-top: 50px;
                    .electricTotal{
                            margin: 10px 0;
                            color: #ffff41; 
                    }.electricPercent{
                            width: 95%;
                            height: 30px;
                            background-color: #39565e;
                            border-radius: 15px;
                            overflow: hidden;
                        div{
                                color: black;
                                padding-left: 10px;
                                line-height: 30px;
                                height: 30px;
                                border-radius: 15px;
                                background-color: #ffff33;
                            }
                    }
                }.electricThird{
                    height: 200px;
                    width: 100%;
                    padding-left: 30px;
                    padding-top: 50px;
                    .electricTotal{
                            margin: 10px 0;
                            color: #00ff33;
                    }.electricPercent{
                            width: 95%;
                            height: 30px;
                            background-color: #39565e;
                            border-radius: 15px;
                            overflow: hidden;
                            div{
                                color: black;
                                padding-left: 10px;
                                line-height: 30px;
                                height: 30px;
                                border-radius: 15px;
                                background-color: #f33;
                            }
                    }
                    
                }
            }.yearelectric{
                position: absolute;
                left: 34%;
                height: 315px;
                width: 66%;
                background-color: #282f37;
                .header{
                    height: 35px;
                    background-color: #464c58;
                    line-height: 35px;
                }
            }.yearprofit{
                position: absolute;
                left: 34%;
                top: 325px;
                height: 49%;
                width: 66%;
                background-color: #282f37;
                .header{
                    height: 35px;
                    background-color: #464c58;
                    line-height: 35px;
                }
            }
        }
    }.right{
        position: relative;
        width: 27%;
        height: 900px;
        background-color: #282b34;
        float: right;
        h3{
            height: 35px;
            line-height: 35px;
            margin: 0;
            background-color: #464c58;
            font-size: 16px;
            font-weight: 900;
            padding-left: 30px;
        }
        table{
            width: 100%;
            tr{
                display: inline-block;
                height: 50px;
                width: 100%;
                margin-top: 20px;
                background-color: #2c333b;
                th{
                    display: inline-block;
                    text-align: center;
                    width: 25%;
                    height: 50px;
                    line-height: 50px;
                }.click{
                   color: #20FEFF; 
                }.click:hover{
                    cursor: pointer;
                    background-color: #39454e;
                }
            } 
        }
        
    }
    .boxShadow:hover{
       box-shadow:0 0 15px #fff;
   }
}