.bodyBox{
        width: 1780px;
        padding: 0 30px 0 10px;
        .inquireBox{
            width: 100%;
            height: 80px;
            margin-bottom: 40px;
            padding: 10px;
            border-top: 1px solid #676971;
            border-bottom: 1px solid #676971;
            span{
                color:#fff;
                margin-right:10px;
                margin-left:20px;
                line-height:60px;
            }
            .dateBox{
                float: left;
                input{
                    color: #fff;
                    background: #181a25; 
                }
            }
            .seleBox{
                font-size:16px;
                float: left;
                select{
                    color: #fff;
                    font-size: 16px;
                    background: #181a25; 
                    option{
                        font-size: 10px;
                        display: inline-block;
                        border: 1px solid red;
                    } 
                }
            }
            .btnBox{
                    float:right;
                    margin-top:16px;
                    margin-right:800px;
                    font-size:16px;
                    .bBox{
                       float:left;
                       margin-left: 20px; 
                    }
                    button{
                        color: #fff;
                        background: #181a25;
                    }
            }
        }
        .content{
            color: white;
            font-size: 16px;
            width: 100%;
            .floorOne{
                width: 100%;
                .pie{
                    position: relative;
                    float: left;
                    width: 30%;
                    height: 380px;
                    .button{
                        cursor: pointer;
                        z-index:9;
                        box-sizing:border-box;
                        border: 2px solid #dddddd;
                        display: inline-block;
                        height: 28px;
                        width: 48px;
                        position: absolute;
                        left: 80%;
                        top: 30px;
                        background: #181a25;
                        color: white;
                        font-size:16px;
                        line-height: 24px;
                        text-align: center;
                    }
                    .hide{
                        display: none;
                    }
                }
                .column{
                    float: left;
                    width: 69%;
                    height: 380px;
                    margin-left: 1%;
                }
            }
            .floorTwo{
                position: relative;
                top: 15px;
                width: 100%;
                .pie{
                    position: relative;
                    float: left;
                    width: 30%;
                    height: 380px;
                    .button{
                        cursor: pointer;
                        z-index:9;
                        box-sizing:border-box;
                        border: 2px solid #dddddd;
                        display: inline-block;
                        height: 28px;
                        width: 48px;
                        position: absolute;
                        left: 80%;
                        top: 30px;
                        background: #181a25;
                        color: white;
                        font-size:16px;
                        line-height: 24px;
                        text-align: center;
                    }
                    .hide{
                        display: none;
                    }
                }
                .column{
                    float: left;
                    width: 69%;
                    height: 380px;
                    margin-left: 1%;
                }
            }
        }
        .boxShadow:hover{
           box-shadow:0 0 15px #fff;
       }
}
