.inquireBox{
  width:100%;
  height:80px;
  border-top: 1px solid #676971;
  border-bottom: 1px solid #676971;
  margin-bottom:40px;
  padding: 10px;
  overflow:hidden;
  color: #fff;
  input,select,button,option{
    background: #181a25;
  }
  span{
    color:#fff;
    margin-right:10px;
    margin-left:20px;
    line-height:60px;
  }
  .seleBox{
    float:left;
  }
  .inputBox{
    float:left;
  }
  .dateBox{
    float:left;
  }
  .btnBox{
    float:left;
    margin-top:16px;
    margin-left:20px;
    font-size:16px;
    button{
      &:hover{
        background:#485b7b;
        color:#fff;
      }
    }

  }
}
.inquireBoxWhite{
  width:100%;
  height:80px;
  border-top: 1px solid #676971;
  border-bottom: 1px solid #676971;
  margin-bottom:40px;
  padding: 10px;
  overflow:hidden;
  color: #333;
  input,select,button,option{
    background: #eee;
  }
  span{
    color:#333;
    margin-right:10px;
    margin-left:20px;
    line-height:60px;
  }
  .seleBox{
    float:left;
  }
  .inputBox{
    float:left;
  }
  .dateBox{
    float:left;
  }
  .btnBox{
    float:left;
    margin-top:16px;
    margin-left:20px;
    font-size:16px;
    button{
      &:hover{
        background:#eee;
        color:#333;
      }
    }

  }
}
.btn{
  margin-top: -30px;
  padding: 20px;
  img{
    width: 40px;
    margin-right: 20px;
    cursor: pointer;
  }
}
.tableBox {

  overflow: hidden;
  .tableHeaderBox {
    overflow: hidden;
    background: #464c58;
    .tableHeaderItem {
      float: left;
      height:40px;
      line-height:40px;
      overflow: hidden;
      color:#fff;
      text-align: center;
    }
  }
  .tableContentBox {
    font-size: 14px;
    .tableContentLine {
      color:#fff;
      background: #30343f;
      overflow: hidden;
      &:hover{
        border:1px solid #2ff4fb;
      }
      .tableContentItem {
        float: left;
        overflow: hidden;
        text-align: center;
        height: 40px;
        line-height:40px;
        border: none;
        img{
          height:20px;
          width:20px;
        }
      }
      input{
        background: #30343f;
        border:6px solid #fff;
        &:hover{
          box-shadow:0px 0px 8px 2px #fff;
        }
      }
      .tableLineNum {
        width: 65px;
        padding: 10px 0 10px;
        text-align: center;
        background-color: #E4E5E6;
        float: left;
      }
    }
    .tableContentLine1 {
      color:#fff;
      overflow: hidden;
      background: #272b34;
      &:hover{
        border:1px solid #2ff4fb;
      }
      .tableContentItem {
        float: left;
        line-height: 40px;
        overflow: hidden;
        text-align: center;
        height: 40px;
        border: none;
        img{
          height:20px;
          width:20px;
        }
      }
      input{
        background: #272b34;
        border:6px solid #fff;
        &:hover{
          box-shadow:0px 0px 8px 2px #fff;
        }
      }
      .tableLineNum {
        width: 65px;
        padding: 10px 0 10px;
        text-align: center;
        background-color: #E4E5E6;
        float: left;
      }
    }
  }
}
.tableBoxBlue {

  overflow: hidden;
  .tableHeaderBox {
    overflow: hidden;
    background: #1C405B;
    .tableHeaderItem {
      float: left;
      height:40px;
      line-height:40px;
      overflow: hidden;
      color:#fff;
      text-align: center;
    }
  }
  .tableContentBox {
    font-size: 14px;
    .tableContentLine {
      color:#fff;
      background: #112A48;
      overflow: hidden;
      &:hover{
        border:1px solid #2ff4fb;
      }
      .tableContentItem {
        float: left;
        overflow: hidden;
        text-align: center;
        height: 40px;
        line-height:40px;
        border: none;
        img{
          height:20px;
          width:20px;
        }
      }
      input{
        background: #112A48;
        border:6px solid #fff;
        &:hover{
          box-shadow:0px 0px 8px 2px #fff;
        }
      }
      .tableLineNum {
        width: 65px;
        padding: 10px 0 10px;
        text-align: center;
        background-color: #E4E5E6;
        float: left;
      }
    }
    .tableContentLine1 {
      color:#fff;
      overflow: hidden;
      background: #15324E;
      &:hover{
        border:1px solid #2ff4fb;
      }
      .tableContentItem {
        float: left;
        line-height: 40px;
        overflow: hidden;
        text-align: center;
        height: 40px;
        border: none;
        img{
          height:20px;
          width:20px;
        }
      }
      input{
        background: #15324E;
        border:6px solid #fff;
        &:hover{
          box-shadow:0px 0px 8px 2px #fff;
        }
      }
      .tableLineNum {
        width: 65px;
        padding: 10px 0 10px;
        text-align: center;
        background-color: #E4E5E6;
        float: left;
      }
    }
  }
}
.tableBoxWhite {

  overflow: hidden;
  .tableHeaderBox {
    overflow: hidden;
    background: #F2F3F4;
    .tableHeaderItem {
      float: left;
      height:40px;
      line-height:40px;
      overflow: hidden;
      color:#333333;
      text-align: center;
    }
  }
  .tableContentBox {
    font-size: 14px;
    .tableContentLine {
      color:#333333;
      background: #E8F0F6;
      overflow: hidden;
      &:hover{
        border:1px solid #2ff4fb;
      }
      .tableContentItem {
        float: left;
        overflow: hidden;
        text-align: center;
        height: 40px;
        line-height:40px;
        border: none;
        img{
          height:20px;
          width:20px;
        }
      }
      input{
        background: #E8F0F6;
        border:6px solid #fff;
        &:hover{
          box-shadow:0px 0px 8px 2px #fff;
        }
      }
      .tableLineNum {
        width: 65px;
        padding: 10px 0 10px;
        text-align: center;
        background-color: #E8F0F6;
        float: left;
      }
    }
    .tableContentLine1 {
      color:#333333;
      overflow: hidden;
      background: #F2F4F5;
      &:hover{
        border:1px solid #2ff4fb;
      }
      .tableContentItem {
        float: left;
        line-height: 40px;
        overflow: hidden;
        text-align: center;
        height: 40px;
        border: none;
        img{
          height:20px;
          width:20px;
        }
      }
      input{
        background: #F2F4F5;
        border:6px solid #fff;
        &:hover{
          box-shadow:0px 0px 8px 2px #fff;
        }
      }
      .tableLineNum {
        width: 65px;
        padding: 10px 0 10px;
        text-align: center;
        background-color: #E4E5E6;
        float: left;
      }
    }
  }
}
.pageplus{
  text-align:center;
  height:60px;
  width:100%;
  margin-top: 20px;
  span{
    width:70px;
    height:30px;
    background: none;
    border: none;
    margin-left:23px;
    border-radius:3px;
    color: #FFFFFF;
    cursor: pointer;
  }
}
.pageplusWhite{
  text-align:center;
  height:60px;
  width:100%;
  margin-top: 20px;
  span{
    width:70px;
    height:30px;
    background: none;
    border: none;
    margin-left:23px;
    border-radius:3px;
    color: #333;
    cursor: pointer;
  }
}