.hideBox{
  display: none;
}
.container{
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(42, 50, 65, .6);
  .alertBox{
    height: 380px;
    width: 32%;
    background-color: rgba(42, 50, 65, 1);
    position: relative;
    top: 250px;
    left: 34%;
    border-radius:10px;
    .header{
      height: 50px;
      width: 100%;
      background-color: #26f4ff;
      text-align: center;
      border-top-right-radius:10px;
      border-top-left-radius:10px;
      color: white;
      font-size:25px;
      line-height: 50px;
    }
    .warning{
      height: 250px;
      width: 100%;
      padding: 30px;
      font-size:20px;
      text-align: center;
      color: white;
      line-height: 250px
    }
    .close{
      position: relative;
      top: 60px;
      height: 40px;
      width: 100%;
      text-align: center;
      color: white;
      span{
        cursor: pointer;
        display: inline-block;
        height: 38px;
        width: 58px;
        line-height:38px;
        border: 1px solid #26f4ff;
        &:hover{
          box-shadow:0 0 15px #26f4ff;
        }
      }
    }
  }
}
