.box{
  padding:18px 18px;
  width:100%;
  border:1px solid red;
  overflow:hidden;
  background-color:#fff;
  .header{
  
  height:40px;
  padding:0px;
  line-height:36px;
  font-size:26px;
  border-bottom:1px solid green;
  font-weight:700;
  font-family: "微软雅黑";
  }
  .searchbox{
  height:100px;
  border:1px solid #ccc
  }
}