.powerBox{
	.inquireBox{
		width:100%;
		margin:20px 0;
		//border-top:1px solid #ccc;
		overflow:hidden;
		.seleBox{
			float:left;
			margin-right:40px;
			span{
				color:#fff;
				margin-right:10px;
			}
			select{
				width:220px;
				height:30px;
				font-size:14px;
				line-height:30px;
				border-radius:2px;
			}
		}
		.dateBox{
			float:left;
			font-size:14px;
			span{
				color:#fff;
				margin: 0 16px;
			}
			input{
				width:120px;
				height:30px;
				border-radius:4px;
				background:#fff url(../../img/comp/calendar.png) no-repeat right;
			}

		}
		.btnBox{
			button{
				width:70px;
				height:30px;
				margin-left:40px;
				border-radius:4px;
			}
		}
	}
	.chartBox{
		overflow:hidden;

		.charChildren{
			position:relative;
			float:left;
			width:48%;
			height:420px;
			margin-left:10px;
			margin-right:20px;
			margin-bottom:40px;
			background:rgba(40,44,53,.5);
			&:hover{
				box-shadow:0 0 15px #fff;
			}
		}
	}
}

