.toBox {
  overflow: hidden;
  .actionBox {
    width: 100%;
    text-align: right;
    margin-bottom: 30px;
    overflow: hidden;
    img {
      width: 30px;
      margin-left: 50px;
    }
  }
  .btn {
    margin-left: 85%;
    padding: 20px;
    img {
      margin-right: 20px;
      cursor: pointer;
    }
  }
  .leftBox {
    width: 45%;
    float: left;
    margin-left: 3%;
    margin-right: 2%;
  }
  .rightBox {
    width: 45%;
    float: left;
    margin-left: 3%;
    margin-right: 2%;
  }
  .tableBox {

    overflow: hidden;
    .tableHeaderBox {
      overflow: hidden;
      background: #464c58;
      .tableHeaderItem {
        float: left;
        height: 40px;
        line-height: 40px;
        overflow: hidden;
        color: #fff;
        text-align: center;
      }
    }
    .tableContentBox {
      font-size: 14px;
      .tableContentLine {
        color: #fff;
        background: #30343f;
        overflow: hidden;
        &:hover{
          background:rgba(183,195,224,.5);
        }
        .tableContentItem {
          float: left;
          padding: 10px 0 10px;
          overflow: hidden;
          text-align: center;
          height: 40px;
          border: none;
          .icon0{
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: #1fe005;
            display: inline-block;
            text-align: center;
          }
          .icon1{
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: #ff0000;
            display: inline-block;
            text-align: center;
          }
          .icon2{
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: #818285;
            display: inline-block;
            text-align: center;
          }
          .icon3{
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: #2187fb;
            display: inline-block;
            text-align: center;
          }
          .icon4{
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: #fbd500;
            display: inline-block;
            text-align: center;
          }
        }
        .tableLineNum {
          width: 65px;
          padding: 10px 0 10px;
          text-align: center;
          background-color: #E4E5E6;
          float: left;
        }
      }
      .tableContentLine1 {
        color: #fff;
        overflow: hidden;
        background: #272b34;
        &:hover{
          background:rgba(183,195,224,.5);
        }
        .tableContentItem {
          float: left;
          padding: 10px 0 10px;
          overflow: hidden;
          text-align: center;
          height: 40px;
          border: none;
          .icon0{
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: #1fe005;
            display: inline-block;
            text-align: center;
          }
          .icon1{
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: #ff0000;
            display: inline-block;
            text-align: center;
          }
          .icon2{
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: #818285;
            display: inline-block;
            text-align: center;
          }
          .icon3{
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: #2187fb;
            display: inline-block;
            text-align: center;
          }
          .icon4{
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: #fbd500;
            display: inline-block;
            text-align: center;
          }
        }
        .tableLineNum {
          width: 65px;
          padding: 10px 0 10px;
          text-align: center;
          background-color: #E4E5E6;
          float: left;
        }
      }
    }
  }
  .btnClass {
    clear: both;
    float: left;
    font-size: 16px;
    color: #fff;
    margin-top: 14px;
    width: 95%;
    padding-left: 5%;
    overflow: hidden;
    .run {
      height: 40px;
      width: 120px;
      border-radius: 10px;
      margin-right: 2%;
      color: #1fe005;
    }
    .fau {
      height: 40px;
      width: 120px;
      border-radius: 10px;
      margin-right: 2%;
      color: #ff0000;
    }
    .offL {
      height: 40px;
      width: 120px;
      border-radius: 10px;
      margin-right: 2%;
      color: #818285;
    }
    .stand {
      height: 40px;
      width: 120px;
      border-radius: 10px;
      margin-right: 2%;
      color: #2187fb;
    }
    .haul {
      height: 40px;
      width: 120px;
      border-radius: 10px;
      color: #fbd500;
    }
    .btnP {
      float: right;
      height: 40px;
      width: 50px;
      border-radius: 10px;
      color: #ccc;
      cursor: pointer;
    }
    .txt {
      float: right;
      margin-left: 1%;
      margin-right: 1%;
    }
  }
}